<section class="container-short">
    <h1>How to Learn</h1>
    <section class="card col l12 slide-down animate-duration-x1" ng-hide="hideObjective">
        <div class="card-container">
            <h2><i class="fa fa-bullseye"></i> Objective</h2>
            To give some tips about how to start learning a new language 
            <h2 class="cursor-pointer" style="position:absolute;top:0px;right:20px" ng-click="hideObjective=true"><i class="fa fa-times"></i></h2>
        </div>
    </section>
    <section class="card col l12 slide-down animate-duration-x2" ng-hide="hideUseCases">
        <div class="card-container">
            <h2><i class="fa fa-question-circle"></i> Recomended Steps for any Language</h2>
            <h3>Initial Practices</h3>
            <ul class="spaced-line-2x">
                <li>Basic expressions</li>
                <li>Basic vocabulary (speech, listeen)</li>
                <li>Basic grammar</li>
                <li>Practice through exercises</li>
                <li>Practice through flashcards</li>
            </ul>
            <h3>Intermediate practices</h3>
            <ul class="spaced-line-2x">
                <li>Intermediate vocabulary (speech, listeen)</li>
                <li>Intermediate grammar</li>
                <li>Practice through exercises</li>
                <li>Practice through flashcards</li>
                <li>Try to begin practice on <b>Whatsapp</b> groups</li>
            </ul>
            <h3>Advanced practices</h3>
            <ul class="spaced-line-2x">
                <li>Advanced vocabulary (speech, listeen)</li>
                <li>Advanced grammar</li>
                <li>Practice through exercises</li>
                <li>Practice through flashcards</li>
                <li>Practice on <b>Whatsapp</b> and <b>Skype</b> groups</li>
                <li>Often listen <b>podcasts</b> or watch <b>Videos</b> (Series, Youtube, News) of your interest</li>
            </ul>
            <h2 class="cursor-pointer" style="position:absolute;top:0px;right:20px" ng-click="hideUseCases=true"><i class="fa fa-times"></i></h2>
        </div>
    </section>
</section>