<style type="text/css">
    .fa-play {
        background-color: #26a69a;
        padding: 5px 10px;
        border-radius: 3px;
        text-shadow: 0px 1px 1px #0a5;
        box-shadow: 0px 1px 1px grey;
        color: #9af5dc;
        transition: .5s;
        cursor:pointer;
    }
    .fa-play:hover {
        box-shadow:0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
        transform: translateY(-1px);
    }
</style>
<section class="container-short">
    <h1>Simple present</h1>
    <h2 class="margin-top-2em">1. Objective</h2>
    <section class="card col l12">
        <div class="card-container">
            Explain and give some examples of <b>Simple Presente Tense</b>, using <b>regular verbs</b>
        </div>
    </section>
    <br class="clear" />
    <h2 class="margin-top-2em">2. Use Cases</h2>
    <section class="card col l12">
        <div class="card-container">
            <ul class="spaced-line-2x">
                <li>The action is a <b>fact</b></li>
                <li>The action is a <b>routine</b> (everyday or eventually)</li>
            </ul>
        </div>
    </section>
    <br class="clear" />
    <h2 class="margin-top-2em">3. Grammar table</h2>
    <div class="card col l12 m12 s12">
        <div class="card-container">
            <select ng-model="selectedVerb" ng-options="format(x) for x in verbs" ng-change="loadProcessedVerbs(selectedVerb)"></select>
            <h3>{{selectedVerb.English}} verb - {{selectedVerb.Portuguese | RemoveLastChar:1}}<span class="textmark purple">r</span></h3>
            <table>
                <tbody>
                    <tr>
                        <th>English</th>
                        <th>Noun</th>
                        <th>Verb</th>
                        <th width="5px"></th>
                    </tr>
                    <tr ng-repeat="verb in engineVerbs">
                        <td>
                            <span class="cursor-pointer" ng-click="SpeakEng(verb.subject)">{{verb.subject}} </span>
                            <span ng-repeat="tag in verb.tags">
                                <span class="textmark autoresize" ng-class="{'{{tag}}':true}">{{tag}}</span>
                            </span>
                        </td>
                        <td>{{verb.targetsubject}}</td>
                        <td>
                            {{verb.targetverb.prefix}}<span ng-show="verb.targetverb.sufix.length > 0" ng-class="{'textmark':true,'{{verb.tags[0]}}':true}">{{verb.targetverb.sufix}}</span>
                        </td>
                        <td ng-click="SpeakPt(verb.targetsubject + ' ' + verb.targetverb.prefix + verb.targetverb.sufix)">
                            <i class="fa fa-play"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br class="clear" />
    <h2>4. Examples</h2>
    <div class="card col l12 m12 s12">
        <div class="card-container">
            <table>
                <tr>
                    <th>Statement</th>
                    <th width="50%">Reason</th>
                    <th width="10px"></th>
                </tr>
                <tr>
                    <td>Eu ando todos os dias</td>
                    <td>Everyday: Routine</td>
                    <td ng-click="SpeakPt('Eu ando todos os dias')"><i class="fa fa-play"></i></td>
                </tr>
                <tr>
                    <td>Ele bebe muita água</td>
                    <td>Fact</td>
                    <td ng-click="SpeakPt('Ele bebe muita água')"><i class="fa fa-play"></i></td>
                </tr>
                <tr>
                    <td>Vocês jogam futebol bem</td>
                    <td>Fact</td>
                    <td ng-click="SpeakPt('Vocês jogam futebol bem')"><i class="fa fa-play"></i></td>
                </tr>
                <tr>
                    <td>Nós gostamos de feijão</td>
                    <td>Fact</td>
                    <td ng-click="SpeakPt('Nós gostamos de feijão')"><i class="fa fa-play"></i></td>
                </tr>
                <tr>
                    <td>Nós somos altos</td>
                    <td>Attribute: permanent</td>
                    <td ng-click="SpeakPt('Nós somos altos')"><i class="fa fa-play"></i></td>
                </tr>
            </table>
        </div>
    </div>
</section>