<style type="text/css">
    .lst {
        position:relative;
        height:35px;
        line-height:30px;
        border-bottom: 1px solid #aaa;
        color:#06a271;
        font-weight:bold;
        transition: .5s;
        cursor:pointer;
    }
    .lst ul {
        list-style-type: none;
        margin:0px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
        position: absolute;
        top: 35px;
        right:0px;
        background-color: white;
        padding: 6px 3px 6px 2px;
        border-radius: 3px;
        animation: grow-down-right .5s;
        max-height:300px;
        overflow-y:scroll;
        z-index:1;
    }
    .lst:hover { border-bottom: 2px solid #4285f4 !important}
    .lst li { padding: 5px 15px; }
    .lst li:hover { background-color:#eee }
    .lst li:active { background-color:#ddd }
    .lst .fa-chevron-down {     
        position: absolute;
        font-size: 19px;
        font-weight: normal;
        right: 5px;
        top: 5px;
    }

    input[type=checkbox] { display:none; }
    input[type=checkbox]+label {
        width: 49px;
        margin: 5px;
        height: 23px;
        border-radius: 30px;
        background-color: #aaa;
        position: relative;
        display: inline-block;
        cursor: pointer;
        box-shadow: 0 1px 2px rgba(0,0,0,.4);
    }
    
    input[type=checkbox]+label .ball {
        display: inline-block;
        background-color: white;
        position: absolute;
        top: 2px;
        height: 19px;
        left: 3px;
        width: 19px;
        border-radius: 19px;
        transition: .3s;
        box-shadow: 0 0 2px rgba(0,0,0,1);
    }
    
    input[type=checkbox]:checked+label { background-color:#2ae2c1; }
    input[type=checkbox]:checked+label .ball { left: 26px; background-color:#129880; }

    input[type=checkbox]+label .text {
        position: absolute;
        left: 58px;
        color: #888;
        font-weight:bold;
    }
    input[type=checkbox]:checked+label .text { color: #129880; }

</style>
<section class="container-short">
    <h1>Simple present</h1>
    <h2 class="margin-top-2em">1. Objective</h2>
    <section class="card col l12 slide-down animate-duration-x1">
        <div class="card-container">
            Explain and give some examples of <b>Simple Presente Tense</b>, using <b>regular verbs</b>
        </div>
    </section>
    <br class="clear" />
    <h2 class="margin-top-2em">2. Use Cases</h2>
    <section class="card col l12 slide-down animate-duration-x2">
        <div class="card-container">
            <ul class="spaced-line-2x">
                <li>The action is a <b>fact</b></li>
                <li>The action is a <b>routine</b> (everyday or eventually)</li>
            </ul>
        </div>
    </section>
    <br class="clear" />
    <h2 class="margin-top-2em">3. Grammar table</h2>
    <div class="card col l12 m12 s12 slide-down animate-duration-x3">
        <div class="card-container">
            <div class="lst col l6 m12" ng-click="lstOpen = !lstOpen" click-anywhere-but-here="lstOpen = false" is-active="lstOpen">
                <span>{{selectedVerb.English}} <i class="fa fa-arrow-right"></i> {{selectedVerb.Portuguese}} <i class="fa fa-chevron-down"></i></span>                
                <ul class="scrollbar-lst" ng-show="lstOpen">
                    <li ng-repeat="verb in verbs" ng-click="loadProcessedVerbs(verb)">{{verb.English}} <i class="fa fa-arrow-right"></i> {{verb.Portuguese}}</li>
                </ul>
            </div>
            <div class="col l3 m6">
                <input type="checkbox" id="negative" />
                <label for="negative">
                    <span class="ball"></span>
                    <span class="text">Negative</span>
                </label>
            </div>
            <div class="col l3 m6">
                <input type="checkbox" id="interrogative" /> 
                <label for="interrogative">
                    <span class="ball"></span>
                    <span class="text">Interrogative</span>
                </label>
            </div>
            <br class="clear" />
            <h3>{{selectedVerb.Portuguese | RemoveLastChar:1}}<span class="textmark purple">r</span></h3>
            <table>
                <tbody>
                    <tr>
                        <th>English</th>
                        <th>Noun</th>
                        <th>Verb</th>
                        <th width="5px"></th>
                    </tr>
                    <tr ng-repeat="verb in engineVerbs">
                        <td>
                            <span class="cursor-pointer" ng-click="Speak(verb.subject, 0)">{{verb.subject}} </span>
                            <span ng-repeat="tag in verb.tags">
                                <span class="textmark autoresize" ng-class="{'{{tag}}':true}">{{tag}}</span>
                            </span>
                        </td>
                        <td>{{verb.targetsubject}}</td>
                        <td>
                            {{verb.targetverb.prefix}}<span ng-show="verb.targetverb.sufix.length > 0" ng-class="{'textmark':true,'{{verb.tags[0]}}':true}">{{verb.targetverb.sufix}}</span>
                        </td>
                        <td ng-click="Speak(verb.targetsubject + ' ' + verb.targetverb.prefix + verb.targetverb.sufix, 1)">
                            <i class="fa fa-play"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br class="clear" />
    <h2>4. Examples</h2>
    <div class="card col l12 m12 s12 slide-down animate-duration-x4">
        <div class="card-container">
            <table>
                <tr>
                    <th>Statement</th>
                    <th width="50%">Reason</th>
                    <th width="10px"></th>
                </tr>
                <tr>
                    <td>Eu ando todos os dias</td>
                    <td>Everyday: Routine</td>
                    <td ng-click="Speak('Eu ando todos os dias', 1)"><i class="fa fa-play"></i></td>
                </tr>
                <tr>
                    <td>Ele bebe muita água</td>
                    <td>Fact</td>
                    <td ng-click="Speak('Ele bebe muita água', 1)"><i class="fa fa-play"></i></td>
                </tr>
                <tr>
                    <td>Vocês jogam futebol bem</td>
                    <td>Fact</td>
                    <td ng-click="Speak('Vocês jogam futebol bem', 1)"><i class="fa fa-play"></i></td>
                </tr>
                <tr>
                    <td>Nós gostamos de feijão</td>
                    <td>Fact</td>
                    <td ng-click="Speak('Nós gostamos de feijão', 1)"><i class="fa fa-play"></i></td>
                </tr>
                <tr>
                    <td>Nós somos altos</td>
                    <td>Attribute: permanent</td>
                    <td ng-click="Speak('Nós somos altos', 1)"><i class="fa fa-play"></i></td>
                </tr>
            </table>
        </div>
    </div>
</section>