<section>
    <article>
        <h2>Simple present exercises</h2>
    </article>
    <div class="card big card-to-be large">
        <div class="card-container">
            <p>Select the correct answer that represent the simple present</p>
            <table>
                <tbody>
                    <tr ng-repeat="question in questions">
                        <td>{{$index+1}}.</td>
                        <td>
                            <span ng-repeat="questionPart in question.parts">
                                <span ng-show="questionPart.type=='text'">{{questionPart.value}}</span>
                                <select ng-show="questionPart.type=='answer'" ng-model="questionPart.answer">
                                    <option selected></option>
                                    <option ng-repeat="option in questionPart.options">{{option}}</option>
                                </select>
                            </span>
                        </td>
                        <td>
                            <i ng-show="rightAnswer(question) == true" class="fa fa-lg fa-check text-green" aria-hidden="true"></i>
                            <i ng-show="rightAnswer(question) == false" class="fa fa-lg fa-times text-red" aria-hidden="true"></i>
                            <i ng-show="IsGoogleChrome && rightAnswer(question) != null" class="fa fa-lg fa-play cursor-pointer" aria-hidden="true" ng-click="SpeakQuestion(question)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card big card-to-be large">
        <div class="card-container">
            <p>Listen to the audio and select the right answer</p>
            <i class="fa fa-3x fa-play cursor-pointer" aria-hidden="true" ng-click="Speak('Um dia, uma garota muito bonita, estava indo para o parque que fica perto da escola. O nome dela era Beatriz, ela é irmã da Piêtra. Quando ela chegou lá, ela ficou muito feliz e brincou bastante')"></i>        
            <p>Qual é o nome da garota?
                <br /><input type="radio" name="teste1" /> Maria
                <br /><input type="radio" name="teste1" /> Beatriz
                <br /><input type="radio" name="teste1" /> Pietra
            </p>
            <p>
                Onde ela estava indo?
                <br /><input type="radio" name="teste1" /> Para o parque
                <br /><input type="radio" name="teste1" /> Para casa
                <br /><input type="radio" name="teste1" /> Para a escola
            </p>
            <p>
                O que ela foi fazer?
                <br /><input type="radio" name="teste1" /> Estudar
                <br /><input type="radio" name="teste1" /> Comer
                <br /><input type="radio" name="teste1" /> Brincar
            </p>
        </div>
    </div>
</section>