<section class="container-short">
    <h1>Present Continous</h1>
    <section class="card col l12 slide-down animate-duration-x1" ng-hide="hideObjective">
        <div class="card-container">
            <h2><i class="fa fa-bullseye"></i> Objective</h2>
            Explain and give some examples of <b>Present Continous Tense</b>, using <b>regular verbs</b>
            <h2 class="cursor-pointer" style="position:absolute;top:0px;right:20px" ng-click="hideObjective=true"><i class="fa fa-times"></i></h2>
        </div>
    </section>
    <section class="card col l12 slide-down animate-duration-x2" ng-hide="hideUseCases">
        <div class="card-container">
            <h2><i class="fa fa-comments"></i> Use Cases</h2>
            <ul class="spaced-line-2x">
                <li>The action is <b>happening</b> on the speech time</li>
                <li>The action is <b>temporary</b></li>
            </ul>
            <br />
            The general rule is to just apply the auxiliar "to be" temporary/situational verb <b>"Estar"</b> plus another verb. Which means a <b>temporary or short/medium term situation.</b>
            <h2 class="cursor-pointer" style="position:absolute;top:0px;right:20px" ng-click="hideUseCases=true"><i class="fa fa-times"></i></h2>
        </div>
    </section>
    <div class="card col l12 m12 s12 card-to-be slide-down animate-duration-x3">
        <div class="card-container">
            <verbal-tenses tense="1"></verbal-tenses>
                <!--
            <h2><i class="fa fa-table"></i> Grammar table</h2>
                <select ng-model="selectedVerb" ng-options="format(x) for x in verbs">
        </select>
        <h3>{{selectedVerb.English}} verb - {{selectedVerb.Portuguese | RemoveLastChar:1}}<span class="textmark purple">r</span></h3>
        <table>
            <tbody>
                <tr>
                    <th>English</th>
                    <th>Noun</th>
                    <th>Verb</th>
                </tr>
                <tr>
                    <td>I <span class="textmark aqua autoresize">Myself</span></td>
                    <td>Eu <span class="textmark aqua">estou</span></td>
                    <td>{{selectedVerb.Portuguese | RemoveLastChar:1}}<span class="textmark gray">ndo</span></td>
                </tr>
                <tr>
                    <td>You <span class="textmark green autoresize">Singular</span></td>
                    <td>Você <span class="textmark green">está</span></td>
                    <td>{{selectedVerb.Portuguese | RemoveLastChar:1}}<span class="textmark gray">ndo</span></td>
                </tr>
                <tr>
                    <td>He <span class="textmark green autoresize">Singular</span></td>
                    <td>Ele <span class="textmark green">está</span></td>
                    <td>{{selectedVerb.Portuguese | RemoveLastChar:1}}<span class="textmark gray">ndo</span></td>
                </tr>
                <tr>
                    <td>She <span class="textmark green autoresize">Singular</span></td>
                    <td>Ela <span class="textmark green">está</span></td>
                    <td>{{selectedVerb.Portuguese | RemoveLastChar:1}}<span class="textmark gray">ndo</span></td>
                </tr>
                <tr>
                    <td>It/This <span class="textmark green autoresize">Singular</span> <span class="textmark white autoresize">Near</span></td>
                    <td>Isto <span class="textmark green">está</span></td>
                    <td>{{selectedVerb.Portuguese | RemoveLastChar:1}}<span class="textmark gray">ndo</span></td>
                </tr>
                <tr>
                    <td>It/That <span class="textmark green autoresize">Singular</span> <span class="textmark black autoresize">Far</span></td>
                    <td>Aquilo <span class="textmark green">está</span></td>
                    <td>{{selectedVerb.Portuguese | RemoveLastChar:1}}<span class="textmark gray">ndo</span></td>
                </tr>
                <tr>
                    <td>You <span class="textmark yellow autoresize">Plural</span></td>
                    <td>Vocês <span class="textmark yellow">estão</span></td>
                    <td>{{selectedVerb.Portuguese | RemoveLastChar:1}}<span class="textmark gray">ndo</span></td>
                </tr>
                <tr>
                    <td>They/He <span class="textmark yellow autoresize">Plural</span><span class="textmark blue autoresize">Male</span></td>
                    <td>Eles <span class="textmark yellow">estão</span></td>
                    <td>{{selectedVerb.Portuguese | RemoveLastChar:1}}<span class="textmark gray">ndo</span></td>
                </tr>
                <tr>
                    <td>They/She <span class="textmark yellow autoresize">Plural</span> <span class="textmark pink autoresize">Female</span></td>
                    <td>Elas <span class="textmark yellow">estão</span></td>
                    <td>{{selectedVerb.Portuguese | RemoveLastChar:1}}<span class="textmark gray">ndo</span></td>
                </tr>
                <tr>
                    <td>It/These <span class="textmark yellow autoresize">Plural</span> <span class="textmark white autoresize">Near</span></td>
                    <td>Estes <span class="textmark yellow">estão</span></td>
                    <td>{{selectedVerb.Portuguese | RemoveLastChar:1}}<span class="textmark gray">ndo</span></td>
                </tr>
                <tr>
                    <td>It/Those <span class="textmark yellow autoresize">Plural</span> <span class="textmark black autoresize">Far</span></td>
                    <td>Aqueles <span class="textmark yellow">estão</span></td>
                    <td>{{selectedVerb.Portuguese | RemoveLastChar:1}}<span class="textmark gray">ndo</span></td>
                <tr>
                    <td>We <span class="textmark red autoresize">Ourselves</span></td>
                    <td>Nós <span class="textmark red">estamos</span></td>
                    <td>{{selectedVerb.Portuguese | RemoveLastChar:1}}<span class="textmark gray">ndo</span></td>
                </tr>
            </tbody>
        </table>-->
        </div>
    </div>
    <div class="card col l12 m12 s12 slide-down animate-duration-x4">
        <div class="card-container">
            <h2><i class="fa fa-eye"></i> Examples</h2>
            <table>
                <tr>
                    <th>Statement</th>
                    <th width="50%">Reason</th>
                </tr>
                <tr>
                    <td>Ela está viajando</td>
                    <td>Happening, Temporary</td>
                </tr>
                <tr>
                    <td>Vocês estão felizes hoje</td>
                    <td>Happening, Temporary</td>
                </tr>
                <tr>
                    <td>Ela está comendo</td>
                    <td>Happening, Temporary</td>
                </tr>
            </table>
        </div>
    </div>
</section>