<section>
    <article>
        <h2>Simple present exercises</h2>
    </article>
    <div class="card big card-to-be large">
        <div class="card-container">
            <p>Select the correct answer that represent the simple present</p>
            <table>
                <tbody>
                    <tr ng-repeat="question in questions">
                        <td>{{$index+1}}.</td>
                        <td>
                            <span ng-repeat="questionPart in question.parts">
                                <span ng-show="questionPart.type=='text'">{{questionPart.value}}</span>
                                <select ng-show="questionPart.type=='answer'" ng-model="questionPart.answer">
                                    <option selected></option>
                                    <option ng-repeat="option in questionPart.options">{{option}}</option>
                                </select>
                            </span>
                        </td>
                        <td>
                            <i ng-show="rightAnswer(question) == true" class="fa fa-lg fa-check text-green" aria-hidden="true"></i>
                            <i ng-show="rightAnswer(question) == false" class="fa fa-lg fa-times text-red" aria-hidden="true"></i>
                            <i ng-show="IsGoogleChrome && rightAnswer(question) != null" class="fa fa-lg fa-play cursor-pointer" aria-hidden="true" ng-click="Speak(question)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="card-subtitle">
                <a class="btn-bookmark" href="#">
                    <i class="fa fa-bookmark" aria-hidden="true"></i>
                    <span>Bookmark</span>
                </a>
                <a class="btn-bookmark" href="#">
                    <i class="fa fa-comment" aria-hidden="true"></i>
                    <span>Comment</span>
                </a>
            </p>
        </div>
    </div>
</section>