<section class="container">
    <article>
        <h2>Simple present</h2>
        <p class="citation">Following there are some examples using simple <b>presente tense</b>, it's applied for <b>regular verbs</b></p>
    </article>
    <h4>Simple present fits on the situations</h4>
    <ul>
        <li>The action is a <b>fact</b></li>
        <li>The action is a <b>routine</b> (everyday or eventually)</li>
    </ul>    
    <!--<div class="card col l8 m12 s12">
        <div class="card-container">
            <table>
                <tbody>
                    <tr>
                        <th>English</th>
                        <th>Noun</th>
                        <th>Verb</th>
                    </tr>
                    <tr>
                        <td>I <span class="textmark aqua autoresize">Myself</span></td>
                        <td>Eu</td>
                        <td>{{selectedVerb.Portuguese | RemoveLastChar:2}}<span class="textmark aqua">o</span></td>
                    </tr>
                    <tr>
                        <td>You <span class="textmark green autoresize">Singular</span></td>
                        <td>Você</td>
                        <td>{{selectedVerb.Portuguese | RemoveLastChar:1}}</td>
                    </tr>
                    <tr>
                        <td>He <span class="textmark green autoresize">Singular</span></td>
                        <td>Ele</td>
                        <td>{{selectedVerb.Portuguese | RemoveLastChar:1}}</td>
                    </tr>
                    <tr>
                        <td>She <span class="textmark green autoresize">Singular</span></td>
                        <td>Ela</td>
                        <td>{{selectedVerb.Portuguese | RemoveLastChar:1}}</td>
                    </tr>
                    <tr>
                        <td>It/This <span class="textmark green autoresize">Singular</span> <span class="textmark white autoresize">Near</span></td>
                        <td>Isto</td>
                        <td>{{selectedVerb.Portuguese | RemoveLastChar:1}}</td>
                    </tr>
                    <tr>
                        <td>It/That <span class="textmark green autoresize">Singular</span> <span class="textmark black autoresize">Far</span></td>
                        <td>Aquilo</td>
                        <td>{{selectedVerb.Portuguese | RemoveLastChar:1}}</td>
                    </tr>
                    <tr>
                        <td>You <span class="textmark yellow autoresize">Plural</span></td>
                        <td>Vocês</td>
                        <td>{{selectedVerb.Portuguese | RemoveLastChar:1}}<span class="textmark">m</span></td>
                    </tr>
                    <tr>
                        <td>They/He <span class="textmark yellow autoresize">Plural</span> <span class="textmark blue autoresize">Male</span></td>
                        <td>Eles</td>
                        <td>{{selectedVerb.Portuguese | RemoveLastChar:1}}<span class="textmark">m</span></td>
                    </tr>
                    <tr>
                        <td>They/She <span class="textmark yellow autoresize">Plural</span> <span class="textmark pink autoresize">Female</span></td>
                        <td>Elas</td>
                        <td>{{selectedVerb.Portuguese | RemoveLastChar:1}}<span class="textmark">m</span></td>
                    </tr>
                    <tr>
                        <td>It/These <span class="textmark yellow autoresize">Plural</span> <span class="textmark white autoresize">Near</span></td>
                        <td>Estes</td>
                        <td>{{selectedVerb.Portuguese | RemoveLastChar:1}}<span class="textmark">m</span></td>
                    </tr>
                    <tr>
                        <td>It/Those <span class="textmark yellow autoresize">Plural</span> <span class="textmark black autoresize">Far</span></td>
                        <td>Aqueles</td>
                        <td>{{selectedVerb.Portuguese | RemoveLastChar:1}}<span class="textmark">m</span></td>
                    <tr>
                        <td>We <span class="textmark red autoresize">Ourselves</span></td>
                        <td>Nós</td>
                        <td>{{selectedVerb.Portuguese | RemoveLastChar:1}}<span class="textmark red">mos</span></td>
                    </tr>
                </tbody>
            </table>
            <br />
        </div>
    </div>-->
    <div class="card col l8 m12 s12">
        <div class="card-container">
            <select ng-model="selectedVerb" ng-options="format(x) for x in verbs" ng-change="loadProcessedVerbs(selectedVerb)"></select>
            <h3>{{selectedVerb.English}} verb - {{selectedVerb.Portuguese | RemoveLastChar:1}}<span class="textmark purple">r</span></h3>
            <!--<h2>Prototyping</h2>-->
            <table>
                <tbody>
                    <tr>
                        <th>English</th>
                        <th>Noun</th>
                        <th>Verb</th>
                    </tr>
                    <tr ng-repeat="verb in engineVerbs">
                        <td>{{verb.subject}} 
                            <span ng-repeat="tag in verb.tags">
                                <span class="textmark autoresize" ng-class="{'{{tag}}':true}">{{tag}}</span>
                            </span>
                        </td>
                        <td>{{verb.targetsubject}}</td>
                        <td>
                            {{verb.targetverb.prefix}}<span ng-show="verb.targetverb.sufix.length > 0" ng-class="{'textmark':true,'{{verb.tags[0]}}':true}">{{verb.targetverb.sufix}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="card-subtitle">
                <h4>Examples of application</h4>
                <ul>
                    <li>Eu ando todos os dias (walk everyday - routine)</li>
                    <li>Ele bebe muita água (drink so much water - fact)</li>
                    <li>Vocês jogam futebol bem (play soccer well - fact) </li>
                    <li>Nós gostamos de feijão (like beans - fact)</li>
                </ul>
            </div>
        </div>
    </div>
</section>