<section class="container-short">
    <h1>Simple Future</h1>
    <section class="card col l12 slide-down animate-duration-x1" ng-hide="hideObjective">
        <div class="card-container">
            <h2><i class="fa fa-bullseye"></i> Objective</h2>
            Explain and give some examples of <b>Simple Future Tense</b>
            <h2 class="cursor-pointer" style="position:absolute;top:0px;right:20px" ng-click="hideObjective=true"><i class="fa fa-times"></i></h2>
        </div>
    </section>
    <section class="card col l12 slide-down animate-duration-x2" ng-hide="hideUseCases">
        <div class="card-container">
            <h2><i class="fa fa-comments"></i> Use Cases</h2>
            <ul class="spaced-line-2x">
                <li>The action <b>will happens</b> in a future</li>
                <!--<li>The action is a <b>certain or uncertain</b> future</li>-->
                <!--<li>The action is a <b>near or far</b> future</li>-->
                <li>Frequently complemented by a time description: now, in one hour, at 6pm, tomorrow, next week...</li>
            </ul>
            <h2 class="cursor-pointer" style="position:absolute;top:0px;right:20px" ng-click="hideUseCases=true"><i class="fa fa-times"></i></h2>
        </div>
    </section>
    <!--<br class="clear" />
    <section class="card col l12 slide-down animate-duration-x3">
        <div class="card-container">
            <p>The auxiliar verb "Ir" can be used in <b>two forms</b>:</p>
            <h3>Vou, vai, vão, vamos</h3>
            <ul>
                <li>Informally used to describe any form of future</li>
                <li>Formally used to describe a future that is nearly present as "Eu vou para casa agora", "I am going to home now"</li>
            </ul>
            <h3>Irei, Irá, Irão, Iremos</h3>
            <ul>
                <li>Informally not used</li>
                <li>Formally used to describe a future not so close or so certain "Eu irei para casa as 9 horas", "I will go to home 9pm"</li>
            </ul>
            <p class="bold margin-top-2em">*The most of people ignore these rules above and just use "vou, vai vão, vamos" always, so I personally recommend beginner foreigners to just learn basics of "irei, irá, irão, iremos" and do not worry about using it at beginning, you will be well understood, then at a higher language level you can investigate Portuguese 1001 details that even natives don't understand well...</p>
        </div>
    </section>
    <br class="clear" />-->
    <div class="card col l12 m12 s12 slide-down animate-duration-x3">
        <div class="card-container">
            <verbal-tenses tense="4"></verbal-tenses>
        </div>
    </div>
    <!--<div class="col l12 m12 s12">
        <div class="card card-to-be">
            <div class="card-container">
                <h2><i class="fa fa-eye"></i> Examples</h2>
                <h3>Vou, vai, vão, vamos</h3>
                <table>
                    <tr>
                        <th>Statement</th>
                        <th width="35%">Reason</th>
                    </tr>
                    <tr>
                        <td>Eu vou trabalhar agora, até logo</td>
                        <td>Future close action</td>
                    </tr>
                    <tr>
                        <td>Eu vou trabalhar amanhã</td>
                        <td>Future action informal</td>
                    </tr>
                    <tr>
                        <td>Ele vai viajar em setembro</td>
                        <td>Future action informal</td>
                    </tr>
                    <tr>
                        <td>Aquelas garotas vão para o parque</td>
                        <td>Future action informal</td>
                    </tr>
                    <tr>
                        <td>Nós vamos para a praia no fim de semana</td>
                        <td>Future action informal</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col l12 m12 s12">
        <div class="card card-to-be">
            <div class="card-container">
                <h2><i class="fa fa-eye"></i> Examples</h2>
                <h3>Irei, irá, irão, iremos</h3>
                <table>
                    <tr>
                        <th>Statement</th>
                        <th width="35%">Reason</th>
                    </tr>
                    <tr>
                        <td>Eu irei trabalhar amanhã</td>
                        <td>Future action formal</td>
                    </tr>
                    <tr>
                        <td>Ele irá jogar bola mais tarde</td>
                        <td>Future action formal</td>
                    </tr>
                    <tr>
                        <td>Elas irão andar juntas</td>
                        <td>Future action formal</td>
                    </tr>
                    <tr>
                        <td>Aquelas pessoas irão para o Brasil amanhã</td>
                        <td>Future action formal</td>
                    </tr>
                    <tr>
                        <td>Nós iremos estudar um pouco mais</td>
                        <td>Future action formal</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>-->
</section>