<style type="text/css">
    .row-recaptcha-mob-fix {
        width: calc(100% + 16px);
        margin-left: -8px;
    }
    .card-sign-in { 
        min-width: 355px !important; 
        max-width: 410px !important;
    }
    @media only screen and (max-width:650px) {
        .card-sign-in {
            min-width: 330px !important;
        }
    }
</style>
<section>
    <div class="card col s11 m5 l3 margin-auto fade-in-slide-down-slow card-sign-in">
        <div class="card-container">
            <h3>Sign In</h3>
            <form name="formSignIn">
                <div class="row">
                    <div class="col m12">
                        <input type="email" ng-model="account.email" startfocus required />
                        <label>Email Address</label> 
                    </div>
                </div>
                <div class="row">
                    <div class="col m12">
                        <input type="password" ng-model="account.password" required ng-minlength="6" />
                        <label>Password</label>
                    </div>
                </div>
                <br />
                <br />
                <div class="row row-recaptcha-mob-fix">
                    <div id="g-recaptcha-sign-in" class="g-recaptcha"></div>
                </div>
                <div class="row center">
                    <button type="button" class="btn" ng-disabled="!formSignIn.$valid" ng-click="submit()">SUBMIT</button>
                    <!--<a class="btn" ng-disabled="!formSignIn.$valid" ng-click="submit()">SUBMIT</a>-->
                </div>
                <br />
                <div class="clear center error-box" ng-show="errorMessage.length > 0">
                    <span>{{ errorMessage }}</span>
                </div>
            </form>
        </div>
    </div>
</section>