<section>
    <div class="card big margin-auto fade-in-slide-down-slow">
        <div class="card-container">
            <h3>Sign In</h3>
            <form name="formSignIn">
                <div class="row">
                    <div class="col m4 right">
                        Email Address
                    </div>
                    <div class="col m6">
                        <input type="email" ng-model="account.email" startfocus required />
                    </div>
                </div>
                <div class="row">
                    <div class="col m4 right">
                        Password
                    </div>
                    <div class="col m6">
                        <input type="password" ng-model="account.password" required ng-minlength="6" />
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div id="g-recaptcha-sign-in" class="g-recaptcha"></div>
                </div>
                <div class="row center">
                    <a class="btn" ng-disabled="!formSignIn.$valid" ng-click="submit()">SUBMIT</a>
                </div>
                <br />
                <div class="clear center error-box" ng-show="errorMessage.length > 0">
                    <span>{{ errorMessage }}</span>
                </div>
            </form>
        </div>
    </div>
    <div class="clear"></div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</section>