<section>
    <div class="card big">
        <div class="card-container">
            <h3>Sign Up</h3>
            <div class="row">
                <div class="col m5 right">
                    Name/Nickname: 
                </div>
                <div class="col m6">
                    <input type="text" ng-model="newUser.name" />
                </div>
            </div>
            <div class="row">
                <div class="col m5 right">
                    Email Address:
                </div>
                <div class="col m6">
                    <input type="text" ng-model="newUser.email" />
                </div>
            </div>
            <div class="row">
                <div class="col m5 right">
                    Password:
                </div>
                <div class="col m6">
                    <input type="password" ng-model="newUser.password" />
                </div>
            </div>
            <div class="row">
                <div class="col m5 right">
                    Password Confirm:
                </div>
                <div class="col m6">
                    <input type="password" ng-model="newUser.passwordConfirm" />
                </div>
            </div>
            <br />
            <br />
            <div class="row center">
                <a class="btn" ng-click="submit()">SUBMIT</a>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</section>