<section>
    <div class="card big">
        <div class="card-container">
            <h3>Sign Up</h3>
            <div class="row">
                Name: <input type="text" ng-model="newUser.name" />
            </div>
            <div class="row">
                E-mail: <input type="text" ng-model="newUser.email" />
            </div>
            <div class="row">
                Password: <input type="password" ng-model="newUser.password" />
            </div>
            <div class="row">
                Password Confirm: <input type="password" ng-model="newUser.passwordConfirm" />
            </div>
            <a class="btn" ng-click="submit()">SUBMIT</a>
        </div>
    </div>
    <div class="clear"></div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</section>