<section>
    <div class="card big margin-auto fade-in-slide-down-slow">
        <div class="card-container">
            <h3>Sign Up</h3>
            <form name="formSignUp">
                <div class="row">
                    <div class="col m4 right">
                        Nickname
                    </div>
                    <div class="col m6">
                        <input type="text" ng-model="account.name" startfocus required ng-minlength="4" />
                    </div>
                </div>
                <div class="row">
                    <div class="col m4 right">
                        Email Address
                    </div>
                    <div class="col m6">
                        <input type="email" ng-model="account.email" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col m4 right">
                        Password
                    </div>
                    <div class="col m6">
                        <input name="password" type="password" ng-model="account.password" required ng-minlength="6" />
                    </div>
                </div>
                <div class="row">
                    <div class="col m4 right">
                        Confirm Password
                    </div>
                    <div class="col m6">
                        <input name="passwordConfirm" type="password" ng-model="account.passwordConfirm" required ng-minlength="6" />
                    </div>
                </div>
                <div class="clear center">
                    <span ng-class="{'text-red':true, 'invisible': account.password === account.passwordConfirm || formSignUp.passwordConfirm.$untouched}">passwords must match</span>
                </div>
                <div class="row">
                    <div id="g-recaptcha-sign-up" class="g-recaptcha"></div>
                </div>
                <div class="row center">
                    <a class="btn" ng-disabled="!formSignUp.$valid || account.password !== account.passwordConfirm" ng-click="submit()">SUBMIT</a>
                </div>
                <br />
                <div class="clear center error-box" ng-show="errorMessage.length > 0">
                    <span>{{ errorMessage }}</span>
                </div>
            </form>
        </div>
    </div>
    <div class="clear"></div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</section>