body {
    margin: 0;
    font-family: Arial;
}

body>footer {
    /*position: fixed;*/
    bottom: 0;
    background-color: #262626;
    color:#ccc;
    /*width: 100%;*/
    padding: 8px 20px 5px 20px;
    /*box-shadow: 1px 1px 4px;*/
    margin-left:250px;
    /*box-shadow: 0px -2px 6px #333;*/
    /*opacity:0.9;*/
    font-family: Segoe UI;
    font-size: 0.9em;
    /*animation: shadowBright 2s infinite alternate;*/
}

@keyframes shadowBright {
    from {
        text-shadow: 0px 0px 3px white;
    }
    to {
        text-shadow: 0px 0px 10px white;
    }
}

nav, main, footer {
    transition: margin-left .5s;
}

main>section {
    margin-left:20px;
}


@media only screen and (max-width:599px) {
    main>section {
        margin-left:5px;
    }

}

main>footer{
    background-color:#111;
    padding:10px;
    color:#aaa;
    padding-bottom:30px;
    margin-top:10px;
    /*box-shadow: 0px -2px 3px #333;*/
}

main>footer section {
    float:left;
    padding:10px;
}


main>footer ul {
    list-style:none;
}

main>footer ul li {
    list-style:none;
    padding:6px;
}

main>footer ul li a {
    color:#aaa;
    text-decoration:none;
}

main {
    margin-left:250px;
    padding-top:70px;
}

.battery-bar {
    color: white;
    font-size: 24px;
    position: absolute;
    right: 0;
    margin-right: 20px;
    margin-top: 10px;
}

.home-bar {
    font-size:24px;
}

/* top header ----------------------------------------------*/
.topheader {    
    background-color: #1c1c1c;
    padding: 16px;
    color:#eee;
    /*text-align:center;*/
    font-weight:bold;
    font-size:24px;
    position:fixed;
    width:100%;
    z-index:1000;
}

/* top nav -------------------------------------------------*/
.topnav {
    overflow: hidden;
    background-color: #333;
    box-shadow: 0 1px 6px 0 rgba(32,32,32,0.7);
    font-family: Segoe UI, Arial;
    margin-left:250px;
    transition: .5s;
    animation: topnavScroll .5s all;
    padding-top:4px;
}

.topnav-scrolled {
    position: fixed;
    top: 0px;
    width: 100%;
    animation: topnavScroll .3s;
    opacity:0.95;
    padding-top:0px;
}

.topnav-scrolled a {
        padding: 7px 16px !important;
}

.topnav-scrolled .battery-bar {    
    position: fixed;
    right: 0;
    margin-right: 20px;
    margin-top: 10px;
}

@keyframes topnavScroll {
    0% {
        top:-39px;
    }
    100% {
        top: -1px;
    }
}

    .topnav button {
        font-family: Segoe UI, Arial;
        color:#CCC;
    }

    .topnav a {
        float: left;
        font-size: 16px;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        color:#CCC;
    }

        .topnav a:hover, .dropdown:hover, .dropdown:hover .dropbtn {
            background-color: #ddd;
            color: black;
            border-radius: 2px;
        }

        .topnav a.active {
            background-color: #2C80AF;
            color: white;
        }

.topnav-container {
    position:relative;
    float: left;
    padding-right:16px;
}

    .topnav-button-side {
        font-size:22px !important;
        cursor:pointer;
        display:none;
        color: #CCC;
        text-decoration:none;
        padding:2px 8px 4px 8px;
    }
    

    .topnav-button-side:hover {
        background-color: #ddd;
        color: black;
        border-radius: 2px;
    }

.topnav-right {
    float:right;
    padding-right:30px;
    font-size:14px;
    font-family: "Segoe UI",Tahoma,Arial,sans-serif;
    font-weight:normal;
}

.top-nav-item {
    display:inline-block;
}

.server-info {
}

.server-info-add {
    
}
.server-info-lat {
    text-align:right;
}

.top-nav-item i {
    margin-top:-3px;
    font-size:42px;
}

.top-nav-separator {
    display:inline-block;
    width:20px;
}

.scrollbar-gray::-webkit-scrollbar-track
{
	border-radius: 10px;
	/*background-color: #090909;*/
}

.scrollbar-gray::-webkit-scrollbar
{
	width: 10px;
	background-color: transparent;
}

.scrollbar-gray::-webkit-scrollbar-thumb
{
	border-radius: 15px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
	background-color: #555;
}


/* side nav -------------------------------------------------*/

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 0;
    background-color: #222;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 40px;
    /*box-shadow:3px 0px 5px;*/
}

.sidenav:hover {
    overflow-y:scroll;
}

.sidenav>article {
    width:250px;
}

    .sidenav .items a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #adadad;
        display: block;
        transition: 0.3s;
    }

    .sidenav .items .small {
        font-size:16px;
    }

    .sidenav .items a i {
        width:40px;
    }

    .sidenav .items {
        padding-bottom:30px;
    }

    .sidenav .usericon {
        padding: 8px 0px 8px 0px;
        color: #818181;
        font-size:128px;
        text-shadow:0px 2px 5px white;
        text-align:center;  
        width:100%;
    }

    .sidenav h1 {
        text-align:center;
        width:100%;
        margin-top:10px;
        margin-bottom:2px;
        color: white;
        font-weight: normal;
        font-size: 1.5em;
    }
    
    .sidenav .edit-username {
        display: block;
        text-decoration: none;
        padding:0px;
        text-align:center;  
        width:100%;
        font-size: 0.9em;
        color:#7a878c;
        font-weight:bold;
        transition: 0.3s;
    }

    
        .sidenav .edit-username:hover {
            text-shadow: 0px 0px 11px #7a878c;
        }


    .sidenav hr {
        border-top: 1px solid #555;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #222;
        width: 80%;
        margin: auto;
        margin-top:35px;
        margin-bottom:25px;
    }

        .sidenav a:hover, .offcanvas a:focus {
            color: #f1f1f1;            
            text-shadow: 0px 0px 15px white;
            
        }

    .sidenav .social {
        padding-bottom:30px;
    }
    
    .sidenav .social a {
        display:block;
        padding:15px;
        margin:15px;
        margin-left:25px;
    }
        
    .sidenav .closebtn {
        color: #818181;
        position: absolute;
        top: 15px;
        left: 165px;
        font-size: 36px;
        margin-left: 50px;
        text-decoration:none;
    }

@media only screen and (min-width: 1301px) {
    .sidenav {
        width:250px!important;
    }
    .sidenav .closebtn {
        display:none;
    }
}

@media only screen and (max-width: 1300px) {
    .topnav, body>footer
    {
        margin-left:0px;
    }
    main {
        margin-left:0px;
    }
    .sidenav {
        width:0px;
    }
    .topnav-button-side {
        display:block;
    }
}


/* icons -------------------------------------------------*/

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fa-round {
    border-radius: 50px;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    animation: focus-shadow-out .3s;
    opacity:0.3;
    transition: .3s;
}


.fa-round:hover {
    opacity: 1;
    box-shadow: 0px 0px 25px #fff;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}


.fa-skype {
    background: #00aff0;
    color: white;
}

.fa-github {
    background: #24292e;
    color: white;
}



/* icons -------------------------------------------------*/

.modal-content {
    background-color: #333;
}

.modal-header {
    color: white;   
    background: #314248;
    background: linear-gradient(to bottom, #172125 0%,#1e344e 100%);
}

.modal-body {
    background-color:inherit;
    color:white;
}

.modal-footer {
    border-top: 1px #505050 solid;
    background-color:inherit;
    color:white;
}

.modal-icon {
    color:white !important;
    text-shadow: 1px 1px 4px #b9b9b9;
}

.modal-button {
    background: linear-gradient(to bottom, #949494 0%,#b6bfc5 50%,#818c92 51%,#919ba2 100%);
    color:white;
    font-weight:bold;
}


/* Text -------------------------------------------------*/

.textmark {
    font-weight:bold;
    background-color:#f7f78a;
    border-radius:8px;
    padding-left:3px;
    padding-right:3px;
    box-shadow: 1px 1px 2px #cccc4e;
}

.textmark.aqua {
    background-color:#b8f5f5;
    box-shadow: 1px 1px 2px #79d0d0;
}

.textmark.green {
    background-color:#bbffa9;
    box-shadow: 1px 1px 2px #82d870;
}

.textmark.red {
    background-color: #ff8080;
    box-shadow: 1px 1px 2px #d86868;
}

.text-red {
    color:red;
}

.text-green {
    color:green;
}

.textmark.linethrough {
    text-decoration: line-through;
}


.textmark.purple {
    background-color:#ca95fd;
    box-shadow: 1px 1px 2px #8a49ca;
}

.textmark.black {
    color:white;
    background-color: #6d6c6c;
    box-shadow: 1px 1px 2px #191818;
}

.textmark.white {
    background-color:#fff;
    box-shadow: 1px 1px 2px #bbb;
}

.textmark.pink {
    color:white;
    background-color:#cb59d4;
    box-shadow: 1px 1px 2px #632b67;
}

.textmark.blue {
    color:white;
    background-color:#5b70ce;
    box-shadow: 1px 1px 2px #4a5994;
}

.textmark.gray {
    color:white;
    background-color:gray;
    box-shadow: 1px 1px 2px #333;
}


.autoresize {
    font-size:14px;
}

.cursor-pointer {
    cursor:pointer;
}

.btn-bookmark, .btn-bookmark a {
    font-size:14px;
    font-weight:bold;
    color:#4b4f56 !important;
}

.btn-bookmark .fa-comment {
    margin-left:20px;
}

.topheader>span {
    /*text-shadow:0px 0px 15px #aaffaa;*/
    font-family: Segoe UI;
    font-weight: normal;
    font-size:24px;
    color: #5fffcc;
}

.topheader img {
    border: 2px outset #27af27;
    border-radius: 5px;
    margin-bottom: -3px;
}


@media only screen and (min-width: 1650px) {
    .card-to-be {
        min-width:32% !important;
    }
    .card-to-be.large {
        min-width:49% !important;
    }
    .autoresize {
        font-size:15px;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1649px)  {
    .card-to-be {
        min-width:45% !important;
    }
    .card-to-be.large {
        min-width:90% !important;
    }
    .autoresize {
        font-size:14px;
    }
}

@media only screen and (min-width: 951px) and (max-width:899px) {
    .card-to-be {
        min-width:45% !important;
    }
    .card-to-be.large {
        min-width:90% !important;
    }
    .autoresize {
        font-size:13px;
    }
}

@media only screen and (max-width:950px) {
    .card-to-be {
        min-width:90% !important;
    }
    .autoresize {
        font-size:12px;
    }
}


@media only screen and (max-width:650px) {
    .autoresize {
        font-size:11px;
    }

    .home-icon, .home-link, .nav-arrow { display:none }
}

.breadcrumb {
    padding:15px;
    padding-top:20px;
}
.breadcrumb a {
    clear:both;
    text-decoration:none !important;
    padding:5px;
        font-family: Segoe UI;
    font-size: 21px;
    color: #888;
}


.text-bold {
    font-weight:bold;
}

.text-white {
    color:white;
}

.text-light-gray {
    color:lightgray;
}

.text-gray {
    color:gray;
}

.text-light-green-gray {
    color:#b8d8b9 
}

.text-light-blue-gray {
    color:#aad1ef
}


.nounderline {
    text-decoration:none;
}

.hover-grow:hover {
    transform:scale(1.2);
}

.soft { 
    transition: .3s;    
}

.hover-shiny:hover {
    text-shadow: 0px 0px 15px white;
}

.left {
    text-align:left;
}

.right {
    text-align:right;
}

.center {
    text-align:center;
}


.btn {
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    font-size: 1rem;
    outline: 0;
    border: none;
    border-radius: 3px;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    font-family: sans-serif;
    font-weight: normal;
    cursor: pointer;
    transition: .3s ease-out;
    padding:5px 30px 5px 30px;
}

.btn:hover {
    background-color: #2bbbad;
}

input {
    border: 1px solid #ced4da;
    border-radius:3px;
    padding: .375rem .75rem;
}

input:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.15);
}

.row {
    margin:5px 0px;
    clear:both;
}

.col {
    float:left;
    padding: 3px 5px;
}

.col.s12 { width:100%; }
.col.s11 { width:91.66666666666667%; }
.col.s10 { width:83.33333333333333%; }
.col.s9 { width:75%; }
.col.s8 { width:66.66666666666667%}
.col.s7 { width:58.33333333333333%}
.col.s6 { width:50%}
.col.s5 { width:41.66666666666667%}
.col.s4 { width:33.33333333333333%}
.col.s3 { width:25%}
.col.s2 { width:16.66666666666667%}
.col.s1 { width:8.33333333333333%}

.col.m12 { width:100%; }
.col.m11 { width:91.66666666666667%; }
.col.s10 { width:83.33333333333333%; }
.col.m9 { width:75%; }
.col.m8 { width:66.66666666666667%}
.col.m7 { width:58.33333333333333%}
.col.m6 { width:50%}
.col.m5 { width:41.66666666666667%}
.col.m4 { width:33.33333333333333%}
.col.m3 { width:25%}
.col.m2 { width:16.66666666666667%}
.col.m1 { width:8.33333333333333%}

.col.l12 { width:100%; }
.col.l11 { width:91.66666666666667%; }
.col.l10 { width:83.33333333333333%; }
.col.l9 { width:75%; }
.col.l8 { width:66.66666666666667%}
.col.l7 { width:58.33333333333333%}
.col.l6 { width:50%}
.col.l5 { width:41.66666666666667%}
.col.l4 { width:33.33333333333333%}
.col.l3 { width:25%}
.col.l2 { width:16.66666666666667%}
.col.l1 { width:8.33333333333333%}


@media only screen and (max-width:599px) {
.col.s12 { width:100%; }
.col.s11 { width:91.66666666666667%; }
.col.s10 { width:83.33333333333333%; }
.col.s9 { width:75%; }
.col.s8 { width:66.66666666666667%}
.col.s7 { width:58.33333333333333%}
.col.s6 { width:50%}
.col.s5 { width:41.66666666666667%}
.col.s4 { width:33.33333333333333%}
.col.s3 { width:25%}
.col.s2 { width:16.66666666666667%}
.col.s1 { width:8.33333333333333%}
}

@media only screen and (min-width:600px) {
.col.m12 { width:100%; }
.col.m11 { width:91.66666666666667%; }
.col.s10 { width:83.33333333333333%; }
.col.m9 { width:75%; }
.col.m8 { width:66.66666666666667%}
.col.m7 { width:58.33333333333333%}
.col.m6 { width:50%}
.col.m5 { width:41.66666666666667%}
.col.m4 { width:33.33333333333333%}
.col.m3 { width:25%}
.col.m2 { width:16.66666666666667%}
.col.m1 { width:8.33333333333333%}
}

@media only screen and (min-width: 993px) {
.col.l12 { width:100%; }
.col.l11 { width:91.66666666666667%; }
.col.l10 { width:83.33333333333333%; }
.col.l9 { width:75%; }
.col.l8 { width:66.66666666666667%}
.col.l7 { width:58.33333333333333%}
.col.l6 { width:50%}
.col.l5 { width:41.66666666666667%}
.col.l4 { width:33.33333333333333%}
.col.l3 { width:25%}
.col.l2 { width:16.66666666666667%}
.col.l1 { width:8.33333333333333%}
}