<style type="text/css">
    h2 { padding-top:0px; margin-top:0px;}
    .selectWordGroup {
        font-size: 15px;
        font-weight: bold;
        color: #129880;
        width: 100%;
        border-bottom: 2px solid #129880;
    }
    .container-short { max-width:400px; }
    .card-container { position:relative;  }
    .score {
        position:absolute;
        top:0px;
        right:10px;
    }
    .score tr:not(:first-child) { box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); }
    /*.success-box>span { font-size:1.5em; }*/
    .response {
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 5px;
        color:#4285f4;
    }
    .score-right { background-color:#66bb6a; color:white; font-size:1.5em }
    .score-wrong { background-color:#ff7684; color:white; font-size:1.5em }
    .score td, .score th { padding:5px; }        
    .error-box, .success-box { padding:15px; }
    
    @keyframes sheen { 100% { transform: rotateZ(60deg) translate(0, -4em); } }
    .sheen {
      position: relative;
      overflow: hidden;
    }

    .sheen:after {
      animation: sheen 1s 0s forwards;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(to bottom, transparent, rgba(255,255,255,0.5) 50%, transparent);
      transform: rotateZ(90deg) translate(-1em, 4em);
    }

    .selectLabel {
        color: #4f9888;
        position: absolute;
        top: -10px;
        left: 21px;
        font-size: 12px;
        font-weight: bold;
    }

    @media only screen and (max-width:599px) {
        h1 { font-size:2em }
        page-footer { display:none }

        .row-response {
            position: fixed;
            bottom: 10px;
            left: 55px;
            background-color: white;
            padding: 5px 5px;
            width: calc(100% - 110px);
            border-radius: 29px;
            height:45px;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        }
        .row-response input { border:none !important; }

        .btn-skip {
            position: fixed;
            bottom: 10px;
            left: 5px;
            border-radius: 50px;
            width: 45px;
            height: 45px;
            padding: 8px;
            font-size: 27px;
        }

        .btn-answer {
            position: fixed;
            bottom: 10px;
            right: 5px;
            width: 45px;
            height: 45px;
            padding-top: 10px;
            padding-bottom: 6px;
            padding-left:10px;
            padding-right:6px;
            border-radius: 50px;
            font-size: 25px;
        }

        .row { padding-top:5px; }
        main>section { padding-top:0px; }
        .margin-top-2em { margin-top:0px !important; }
        input:focus+label,input:not(.ng-empty)+label{ display:none; }
        input { font-weight:normal !important }
    }
    @media only screen and (max-width:599px) and (max-height:500px) {
        /*page-header { display: none; }
        .below-top-nav { top: 0px; }
        main>section { padding-top:0px; }
        .breadcrumb { display: none; }
        .error-box, .success-box { padding:5px; }*/
        .score td, .score th { padding:2px; }
    }
</style>
<div class="container-short margin-auto">
    <section class="hide-on-keyboard-opened">
        <div class="col s4">
            <span class="selectLabel">Album</span>
            <select class="selectWordGroup" ng-model="selectedWordGroup" ng-options="wordGrup.name for wordGrup in wordGrups" ng-change="nextWord()"></select>
        </div>
        <div class="col s4">
            <span class="selectLabel">Learning</span>
            <select class="selectWordGroup" ng-model="langTo" ng-options="language.name for language in languages" ng-change="nextWord()"></select>
        </div>
        <div class="col s4">
            <span class="selectLabel">From</span>
            <select class="selectWordGroup" ng-model="langFrom" ng-options="language.name for language in languages" ng-change="nextWord()"></select>
        </div>
    </section>
    <div class="col s12 m12 l12">
        <section class="card">
            <div class="card-container">
                <h5 class="hide-on-keyboard-opened">Translate the word to {{langTo.name}}</h5>
                <br class="hide-on-keyboard-opened" />
                <h1>{{randomWord[langFrom.id]}}</h1>
                <div class="row row-response">
                    <div class="col m12">
                        <input name="response" type="text" ng-model="response" class="response" ng-keyup="responseKeyPress($event)" />
                        <label>Answer</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col m12">
                        <button class="btn btn-skip effect-waves waves-red" type="button" ng-click="skip()">
                            <span class="hide-on-mobile">Skip (esc)</span>
                            <span class="show-only-on-mobile"><i class="fa fa-question"></i></span>
                        </button>
                        <button class="btn btn-answer effect-waves waves-blue float-right" type="button" ng-click="answer()">
                            <span class="hide-on-mobile">Answer</span>
                            <i class="fa fa-chevron-right show-only-on-mobile"></i>
                        </button>
                    </div>
                </div>
                <br class="clear hide-on-keyboard-opened" />
                <div class="margin-top-2em clear center success-box fade-in-slide-down" ng-show="showSuccess">
                    <span>
                        <i class="fa fa-check"></i> Correct!
                    </span>
                </div>
                <div class="margin-top-2em clear center error-box fade-in-slide-down" ng-show="errorMessage.length > 0">
                    <span>{{ errorMessage }}</span>
                </div>
                <div class="score center">
                    <table>
                        <tr>
                           <th>Correct</th> 
                           <th>Wrong</th> 
                        </tr>
                        <tr>
                            <td class="center score-right">{{correct}}</td>
                            <td class="center score-wrong">{{wrong}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
