<style type="text/css">
    h2 { padding-top:0px; margin-top:0px;}
    .selectWordGroup {
        font-size: 15px;
        font-weight: bold;
        color: #129880;
        width: 100%;
        border-bottom: 2px solid #129880;
    }
    .container-short { max-width:400px; }
    .card-container { position:relative;  }
    .score {
        position:absolute;
        top:0px;
        right:10px;
    }
    .score tr:first-child th { border:none; color:#aaa; padding-top: 10px }
    .response {
        font-size: 20px;
        /*font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 5px;
        color:#4285f4;*/
        color:#555;
    }
    .score-right { background-color:#66bb6a; color:white; font-size:1.5em }
    .score-wrong { background-color:#ef5a69; color:white; font-size:1.5em }
    .score td, .score th { padding:5px; }        
    .error-box, .success-box { padding:15px; }
    
    @keyframes sheen { 100% { transform: rotateZ(60deg) translate(0, -4em); } }
    .sheen { position: relative; overflow: hidden; }
    .sheen:after {
      animation: sheen 1s 0s forwards;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(to bottom, transparent, rgba(255,255,255,0.5) 50%, transparent);
      transform: rotateZ(90deg) translate(-1em, 4em);
    }

    .selectLabel {
        color: #4f9888;
        position: absolute;
        top: -10px;
        left: 21px;
        font-size: 12px;
        font-weight: bold;
    }
    .btn-skip,.btn-skip:hover { background-color:#ef5a69; }

    @media only screen and (max-width:599px) {
        h1 { font-size:2em }
        page-footer { display:none }

        .row-response {
            position: fixed;
            bottom: 10px;
            left: 55px;
            background-color: white;
            padding: 5px 5px;
            width: calc(100% - 110px);
            border-radius: 29px;
            height:45px;
            
        }
        .row-response, .btn.effect-waves {
            box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
        }

        .row-response input { border:none !important; border-bottom:none !important; padding-left:10px; }

        .btn-skip {
            position: fixed;
            bottom: 10px;
            left: 5px;
            border-radius: 50px;
            width: 45px;
            height: 45px;
            padding: 8px;
            font-size: 27px;
        }

        .skip-esc {
            opacity:0.5;
        }

        .btn-answer {
            position: fixed;
            bottom: 10px;
            right: 5px;
            width: 45px;
            height: 45px;
            padding-top: 10px;
            padding-bottom: 6px;
            padding-left:10px;
            padding-right:6px;
            border-radius: 50px;
            font-size: 25px;
        }

        .btn-continue {
            position: fixed;
            bottom: 10px;
            right: 10px;
            width: 150px;
            margin-top: 10px;
        }

        .row { padding-top:5px; }
        .margin-top-2em { margin-top:0px !important; }
        input:focus+label,input:not(.ng-empty)+label{ display:none; }
        input { font-weight:normal !important }

        /*flex trick 1*/
        .view-container,.container-short,.flash-card { 
            flex: 1 0 auto;
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .flash-card {
            margin-top:10px;
            margin-bottom:60px;
        }
    }
    @media only screen and (max-width:599px) {
        h1,h2,h3,h4,h5,h6  {
            font-weight:bold;
            margin-top:5px;
            margin-bottom:5px
        }
        .sorted-word { margin-top:15px; margin-left:5px }
        .sorted-word-obs { margin-left:5px; margin-bottom:10px }
    }
    @media only screen and (max-width:599px) and (max-height:500px) {
        main>section { padding-top:0px; }
        .breadcrumb { display: none; }
        .score td, .score th { padding:2px; }
    }

    .fa-check { margin-left:-3px;}

    .pmg_item {
        width: 100%;
        height: 50px;
        margin: 10px 0px;
        font-size:20px;
        position:relative;
    }

    .pmg_item i {
        position: absolute;
        left: 20px;
        top: 15px;
    }
    .btn-all { background-color: #2684a6}
    .btn-all:hover { background-color: #56b4d6}
    .btn-back { background-color: #a63626}
    .btn-back:hover { background-color: #c65646}

    i.fa.fa-star {
        font-size: 45px;
        color: #e0f100;
        text-shadow: 2px 2px 5px #da8507, -2px 2px 5px #da8507, 2px -2px 5px #da8507, -2px -2px 5px #da8507, 0px 10px 8px rgba(0,0,0,.4);
        padding: 4px;
        animation-name:star-grow;
        animation-duration:.5s;
    }

    @keyframes star-grow {
        0% {  transform: translate3d(0%, 75%, 0) scale3d(0, 0, 0) rotateZ(0deg);  }
        100% { transform: translate3d(0%, 0%, 0) scale3d(1, 1, 1) rotateZ(360deg); }
    }

    .sorted-word-deck { font-size:13px; line-height:13px; color:#888}

</style>

<br class="clear hide-on-mobile" />
<div class="container-short margin-auto" ng-switch="selectedStage" ng-keypress="generalKeyPress()">
    <section ng-switch-when="0">
        <section class="card col l12 fade-in-slide-down-slow center">
            <div class="card-container">
                <h1>Flashcards</h1>
                <h2>Select your Album</h2>
                <div ng-repeat="album in albums">
                    <button class="btn pmg_item" ng-click="selectAlbum(album)">
                        <i class="fa" ng-class="album.icon"></i> {{album.name}}
                    </button>
                </div>
                <div>
                    <button class="btn pmg_item btn-all" ng-click="selectAlbum(null)">
                        <i class="fa fa-globe"></i> All Albums
                    </button>
                </div>
            </div>
        </section>
    </section>
    <section ng-switch-when="1">
        <section class="card col l12 fade-in-slide-down-slow center">
            <div class="card-container">
                <h2><i class="fa" ng-class="selectedAlbum.icon"></i> {{selectedAlbum.name}}</h2>
                <h3>Select your deck</h3>
                <div ng-repeat="deck in selectedAlbum.decks">
                    <button class="btn pmg_item" ng-click="selectDeck(deck)">
                        <i class="fa fa-book"></i> {{deck.name}}
                    </button>
                </div>
                <div>
                    <button class="btn pmg_item btn-all" ng-click="selectDeck(null)" style="font-size:15px">
                        <i class="fa fa-globe"></i> All decks from this Album
                    </button>
                </div>
                <div>
                    <button class="btn pmg_item btn-back" ng-click="navigateToStage(0)">
                        <i class="fa fa-arrow-circle-left"></i> Back
                    </button>
                </div>
            </div>
        </section>
    </section>
    <section ng-switch-when="2" class="col s12 m12 l12 card flash-card fade-in">
        <button style="position:absolute;top:-45px;right:0px" class="btn hide-on-keyboard-opened" ng-click="navigateToStage(0)">
            <i class="fa fa-arrow-circle-left"></i>
            Back
        </button>
        <div class="card-container">
            <div class="score center">
                <table>
                    <tr>
                        <th>Correct</th>
                        <th>Wrong</th>
                    </tr>
                    <tr>
                        <td class="center score-right">{{correct}}</td>
                        <td class="center score-wrong">{{wrong}}</td>
                    </tr>
                </table>
            </div>
            <h5>Translate to {{currentlangLearn.name}}</h5>
            <br class="hide-on-keyboard-opened" />
            <div class="sorted-word-deck">{{sortedWords[currentSortedWordIndex].album}} - {{sortedWords[currentSortedWordIndex].deck}}</div>
            <h1 class="sorted-word">{{sortedWords[currentSortedWordIndex].langFrom}}</h1>
            <h3 class="sorted-word-obs">{{sortedWords[currentSortedWordIndex].obs}}</h3>
            <div class="row row-response" ng-hide="answered">
                <div class="col m12">
                    <input name="response" type="text" ng-model="$parent.response" class="response" ng-keydown="responseKeyPress($event)" placeholder="Type the answer" />
                </div>
            </div>
            <div class="row" ng-hide="answered">
                <div class="col m12">
                    <button class="btn btn-skip effect-waves waves-red" type="button" ng-click="skip()">
                        <span class="hide-on-mobile">Skip <span class="skip-esc">(esc)</span></span>
                        <span class="show-only-on-mobile"><i class="fa fa-question"></i></span>
                    </button>
                    <button class="btn btn-answer effect-waves waves-aqua float-right" type="button" ng-click="answer()">
                        <span class="hide-on-mobile">Answer</span>
                        <i class="fa fa-check show-only-on-mobile"></i>
                    </button>
                </div>
            </div>
            <br class="clear hide-on-keyboard-opened" />
            <div class="margin-top-2em clear center success-box fade-in-slide-down" ng-show="showSuccess">
                <span>
                    <i class="fa fa-check"></i> Correct!
                </span>
                <span ng-show="lastWord.length > 0"><br />{{ lastWord }}</span>   
            </div>
            <div class="margin-top-2em clear center error-box fade-in-slide-down" ng-show="errorMessage.length > 0">
                <span>{{ errorMessage }}</span>
                <span ng-show="lastWord.length > 0"><br />Your answer was "{{ lastWord }}".</span>                    
            </div>
            <div class="margin-top-2em clear center" ng-show="answered">
                <button name="continue" class="btn btn-continue effect-waves waves-aqua" type="button" ng-click="nextWord(e)">
                    <span>Continue</span>
                </button>
            </div>
        </div>
    </section>
    <section ng-switch-when="3">
        <section class="card col l12 fade-in-slide-down-slow center">
            <div class="card-container">
                <h1>Score</h1>
                <div style="padding:20px">                    
                    <i class="fa" ng-class="star.class" ng-repeat="star in stars"></i>
                </div>
                <div>
                    <h2>
                        <i class="fa fa-check"></i> Corret: {{correct}}
                    </h2>
                </div>
                <div>
                    <h2>
                        <i class="fa fa-times"></i> Wrong: {{wrong}}
                    </h2>
                </div>
                <div>
                    <button name="continue" class="btn pmg_item" ng-click="navigateToStage(0)">
                        Continue
                    </button>
                </div>
            </div>
        </section>
    </section>
</div>
