<style type="text/css">
    h2 { padding-top:0px; margin-top:0px;}
    .selectWordGroup {
        font-size: 15px;
        font-weight: bold;
        color: #129880;
        width: 100%;
        border-bottom: 2px solid #129880;
    }
    .container-short { max-width:400px; }
    .card-container { position:relative;  }
    .score {
        position:absolute;
        top:0px;
        right:10px;
    }
    .score tr:first-child th { border:none; color:#aaa; padding-top: 10px }
    .response {
        font-size: 20px;
        color:#555;
    }
    .score-right { background-color:#66bb6a; color:white; font-size:1.5em }
    .score-wrong { background-color:#ef5a69; color:white; font-size:1.5em }
    .score td, .score th { padding:5px; }        
    .error-box, .success-box { padding:15px; }
    
    @keyframes sheen { 100% { transform: rotateZ(60deg) translate(0, -4em); } }
    .sheen { position: relative; overflow: hidden; }
    .sheen:after {
      animation: sheen 1s 0s forwards;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(to bottom, transparent, rgba(255,255,255,0.5) 50%, transparent);
      transform: rotateZ(90deg) translate(-1em, 4em);
    }

    .selectLabel {
        color: #4f9888;
        position: absolute;
        top: -10px;
        left: 21px;
        font-size: 12px;
        font-weight: bold;
    }
    .btn-skip { background-color:#ef5a69; }

    .btn-cards-back  { position:absolute;top:-45px;right:0px }

    .fa-check { color:#66bb6a }
    .fa-times { color:#ef5a69 }

    @media only screen and (max-width:599px) {
        h1 { font-size:2em }
        page-footer { display:none }
        
        .btn-cards-back { top: -35px; padding: 6px 20px 6px 20px }

        .card { box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3) }
        .response { font-size:18px; }
        .row-response {
            position: fixed;
            bottom: 10px;
            left: 7px;
            background-color: white;
            padding: 5px 5px;
            width: calc(100% - 64px);
            border-radius: 29px;
            height: 42px;
        }
        .row-response, .btn.effect-waves { box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3); }
        .row-response input { border:none !important; border-bottom:none !important; padding-left:40px; }

        .btn-skip {
            position: fixed;
            bottom: 15px;
            left: 14px;
            border-radius: 50px;
            width: 30px;
            height: 30px;
            padding: 0px;
            font-size: 16px;
            background-color: #ffffff;
            color: #a5a5a5;
            box-shadow: none;
            border: 1px solid #a5a5a5;
        }
        .btn-skip:hover { background-color:#ffffff; }
        .btn-skip:active { transform:scale(3.5, 3.5); color:white; background-color:#ff7684; border-color:#ff7684 }

        .skip-esc { opacity:0.5; }

        .btn-answer {
            position: fixed;
            bottom: 10px;
            right: 8px;
            width: 42px;
            height: 42px;
            padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 3px;
            padding-right: 6px;
            border-radius: 50px;
            font-size: 18px;
            transition: .3s;
        }

        .btn-answer:active { transform:scale(3, 3); }

        .row { padding-top:5px; }
        .margin-top-2em { margin-top:0px !important; }
        input:focus+label,input:not(.ng-empty)+label{ display:none; }
        input { font-weight:normal !important }

        /*flex trick 1*/
        .view-container,.container-short,.flash-card { 
            flex: 1 0 auto;
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .flash-card {
            margin-top:10px;
            margin-bottom:54px;
        }

        .error-box {
            width: calc(100% - 4px);
            position: fixed;
            bottom: 5px;
            left: 0px;
            margin: 0px;
            font-size: 16px;
            line-height: 20px;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 7px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }

        .error-box .btn { background-color: #ffa5a5; color: #ffffff; }

        .success-box {
            width: calc(100% - 4px);
            position: fixed;
            bottom: 5px;
            left: 0px;
            margin: 0px;
            font-size: 16px;
            line-height: 20px;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 7px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }

    }
    @media only screen and (max-width:599px) {
        .margin-top-2em {margin-top:2em}
        .sorted-word { margin-top:15px; margin-left:5px; font-size: 38px; }
        .sorted-word-obs { margin-left:5px; margin-bottom:10px }
    }
    @media only screen and (max-width:599px) and (max-height:500px) {
        main>section { padding-top:0px; }
        .breadcrumb { display: none; }
        .score td, .score th { padding:2px; }
    }

    .fa-check { margin-left:-3px;}

    .pmg_item {
        width: 100%;
        height: 50px;
        margin: 10px 0px;
        font-size:20px;
        position:relative;
    }

    .pmg_item i {
        position: absolute;
        left: 20px;
        top: 15px;
    }
    .btn-all { background-color: #2684a6}
    .btn-all:hover { background-color: #56b4d6}
    .btn-back { background-color: #a63626}
    .btn-back:hover { background-color: #c65646}
    
    @keyframes star-grow {
        0% {  transform: translate3d(0%, 75%, 0) scale3d(0, 0, 0) rotateZ(0deg);  }
        75% { transform: translate3d(0%, -25%, 0) scale3d(4, 4, 4) rotateZ(360deg);  }
        100% { transform: translate3d(0%, 0%, 0) scale3d(1, 1, 1) rotateZ(0deg); }
    }


    i.fa.fa-star {
        font-size: 45px;
        color: #e0f100;
        text-shadow: 2px 2px 5px #da8507, -2px 2px 5px #da8507, 2px -2px 5px #da8507, -2px -2px 5px #da8507, 0px 10px 8px rgba(0,0,0,.4);
        padding: 4px;
        animation:star-grow .5s;
        will-change:transform;
    }
    @media only screen and (max-width:599px) { /*mobile performance trick*/
        i.fa.fa-star { text-shadow: 0px 7px 8px #aaa }
        @keyframes slide-left {
            0% { transform: translate(-30%,0); opacity:0 }
            30% { transform: translate(-30%, 0); opacity:0 }
            100% { transform: translate(0, 0); opacity:1 }
        }
        .fade-in-slide-left { animation: slide-left 1s; }
    }

    .sorted-word-deck { font-size:13px; line-height:13px; color:#888}
    
    .col-menu { 
        float: left;
        padding: 0 0.75rem;
        box-sizing: border-box;
        position: relative;
    }
    .album { height:120px; color:#0d6b5a }
    .album .card-container { padding:22px !important }
    .album i.fa { font-size:36px }
</style>
<div class="container-short margin-auto" ng-switch="selectedStage" ng-keypress="generalKeyPress()">
    <section ng-switch-when="0" class="center">
        <div class="fade-in-slide-down-slow">
            <h1>Flashcards</h1>
            <h2>Select your Album</h2>
            <section class="col-menu s6 l6" ng-repeat="album in albums">
                <div class="card album cursor-pointer" ng-click="selectAlbum(album)">
                    <div class="card-container">
                        <i class="fa" ng-class="album.icon"></i>
                        <div>{{album.name}}</div>
                    </div>
                </div>
            </section>
            <section class="col-menu s12">
                <div class="card album cursor-pointer" ng-click="selectAlbum(null)">
                    <div class="card-container">
                        <i class="fa fa-globe"></i>
                        <div>All Albuns random</div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <section ng-switch-when="1" class="center">
        <div class="fade-in-slide-down-slow">
            <h1><i class="fa" ng-class="selectedAlbum.icon"></i> {{selectedAlbum.name}}</h1>
            <h2>Select your deck</h2>
            <section class="col-menu s6 l6" ng-repeat="deck in selectedAlbum.decks">
                <div class="card album cursor-pointer" ng-click="selectDeck(deck)">
                    <div class="card-container">
                        <i class="fa fa-book"></i>
                        <div>{{deck.name}}</div>
                    </div>
                </div>
            </section>
            <section class="col-menu s12">
                <div class="card album cursor-pointer" ng-click="selectDeck(null)">
                    <div class="card-container">
                        <i class="fa fa-globe"></i>
                        <div>All "{{selectedAlbum.name}}" decks random</div>
                    </div>
                </div>
            </section>
            <section class="col-menu s12">
                <div class="card album cursor-pointer" ng-click="navigateToStage(0)">
                    <div class="card-container">
                        <i class="fa fa-arrow-circle-left"></i>
                        <div>Try Another Album</div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <section ng-switch-when="2" class="col l12 card flash-card fade-in margin-top-2em">
        <!--<button class="btn btn-cards-back hide-on-keyboard-opened" ng-click="navigateToStage(0)">
            <i class="fa fa-arrow-circle-left"></i>
            Back
        </button>-->
        <div class="card-container">
            <div class="score center">
                <table>
                    <tr>
                        <th class="center" width="40px"><i class="fa fa-check"></i></th>
                        <th class="center" width="40px"><i class="fa fa-times"></i></th>
                    </tr>
                    <tr>
                        <td class="center score-right">{{correct}}</td>
                        <td class="center score-wrong">{{wrong}}</td>
                    </tr>
                </table>
            </div>
            <div style="color:#129880;font-size: 11px;padding-bottom: 2px;">Translate to {{currentlangLearn.name}}</div>
            <br class="hide-on-keyboard-opened" />
            <div class="sorted-word-deck">{{sortedWords[currentSortedWordIndex].album}} - {{sortedWords[currentSortedWordIndex].deck}}</div>
            <h1 class="sorted-word">{{sortedWords[currentSortedWordIndex].langFrom}}</h1>
            <h3 class="sorted-word-obs">{{sortedWords[currentSortedWordIndex].obs}}</h3>
            <div class="row row-response" ng-hide="answered">
                <input name="response" type="text" ng-model="$parent.response" class="response" ng-keydown="responseKeyPress($event)" placeholder="Type the answer..." />
            </div>
            <div class="row" ng-hide="answered">
                <button class="btn btn-skip effect-waves waves-red" type="button" ng-click="skip()">
                    <span class="hide-on-mobile">Skip <span class="skip-esc">(esc)</span></span>
                    <span class="show-only-on-mobile"><i class="fa fa-question"></i></span>
                </button>
                <button class="btn btn-answer effect-waves waves-aqua float-right" type="button" ng-click="answer(false)">
                    <span class="hide-on-mobile">Answer</span>
                    <i class="fa fa-paper-plane show-only-on-mobile"></i>
                </button>
            </div>
            <br class="clear hide-on-keyboard-opened" />
            <div class="margin-top-2em clear center success-box fade-in-slide-left" ng-show="showSuccess">
                <div>
                    <i class="fa fa-check"></i> Correct Answer!
                </div>
                <div ng-show="lastWord.length > 0" style="text-transform:capitalize">{{ lastWord }}</div>   
                <div class="show-only-on-mobile">
                    <br />
                    <button class="btn btn-continue" type="button" ng-click="nextWord(e)">
                        <span>Continue</span>
                    </button>
                </div>       
            </div>
            <div class="margin-top-2em clear center error-box fade-in-slide-left" ng-show="errorMessage.length > 0">
                <div>{{ errorMessage }}</div>
                <div ng-show="lastWord.length > 0">Your answer was "{{ lastWord }}".</div> 
                <div class="show-only-on-mobile">
                    <br />
                    <button class="btn btn-continue" type="button" ng-click="nextWord(e)">
                        <span>Continue</span>
                    </button>     
                </div>              
            </div>
            <div class="margin-top-2em clear center hide-on-mobile" ng-show="answered">
                <button name="continue" class="btn btn-continue effect-waves waves-aqua" type="button" ng-click="nextWord(e)">
                    <span>Continue</span>
                </button>
            </div>
        </div>
    </section>
    <section ng-switch-when="3">
        <section class="card col l12 fade-in-slide-down-slow center">
            <div class="card-container">
                <h1>Score</h1>
                <div style="padding:20px">                    
                    <i class="fa" ng-class="star.class" ng-repeat="star in stars"></i>
                </div>
                <br />
                <div>
                    <h2 style="font-size:38px">
                        <i class="fa fa-check"></i> {{correct}} x {{wrong}} <i class="fa fa-times"></i> 
                    </h2>
                </div>
                <div>
                    <button name="continue" class="btn pmg_item" ng-click="navigateToStage(0)">
                        Continue
                    </button>
                </div>
            </div>
        </section>
    </section>
</div>
