<style type="text/css">
    .selectWordGroup {
        font-size: 15px;
        font-weight: bold;
        color: #129880;
        width: 100%;
        border-bottom: 2px solid #129880;
    }
    .selectLabel {
        color: #4f9888;
        position: absolute;
        top: -10px;
        left: 21px;
        font-size: 12px;
        font-weight: bold;
    }
    table tr { transition-duration: .0s; }

    .word-pack {
        height:388px;
        overflow-y:scroll;
        background-color: #f5f5f5;
        border-radius: 5px;
    }
    .word-pack table tr { background-color:inherit; }
    .word-pack table tr:hover { background-color: #e5e5e5; }
    
    page-footer { display:none }
    .wordTo { }
    .word-obs { font-size:12px;color:#888 }
    .wordFrom { padding-top:3px; font-size:12px;color:#888 }
    .wordFrom .word { transition:.3s; color:#ddd; background-color:#ddd; border-radius: 3px; }
    .word .fa-play {display:none;}
    .word:hover .wordFrom .word { color:#888; filter:unset; font-weight:bold}
    .word:hover .fa-play {
        box-shadow:0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
        display:block;
        opacity:1;
    }
    .btn-practice {
        line-height: 13px;
        font-size: 15px;
        margin-top: 15px;
        width:100%;
        padding:10px
    }
    .deck-warning {     
        color: red;
        line-height: 13px;
        font-size: 13px;
        position: absolute;
        bottom: 30px;
        left: 40px;
    }
    .container { position:relative }
    .word-statistics { position:absolute;top:0px;right:20px;font-size:13px }
</style>

<div class="container">
    <h1 class="hide-on-mobile">Word Albuns</h1>
    <br class="clear hide-on-keyboard-opened" />
    <div class="word-statistics">
        <b>Total albums:</b> {{albums.length}} <br />
        <b>Total decks:</b> {{totalDecks}} <br />
        <b>Total words:</b> {{totalWords}}
    </div>
    <section class="hide-on-keyboard-opened">
        <div class="col s4 m4 l2">
            <span class="selectLabel">Album</span>
            <select class="selectWordGroup" ng-model="selectedAlbum" ng-options="album.name for album in albums"></select>
        </div>
    </section>
    <br class="clear hide-on-keyboard-opened" />
    <div class="margin-top-2em col s12 m12 l6 x4 xx3" ng-repeat="deck in selectedAlbum.decks">
        <section class="card">
            <div class="card-container">
                <h3>Deck: {{deck.name}}</h3>
                <div class="word-pack scrollbar-card">
                    <table>
                        <tr class="word" ng-repeat="word in deck.words | filter:filterWordShow">
                            <td ng-class="{'bold':word.important}">
                                <div class="wordTo">
                                    {{word.lang[langLearn.id]}} 
                                    <span class="word-obs">{{formatObs(word.obs[langLearn.id])}}</span>
                                </div>
                                <div class="wordFrom">
                                    <span class="word">{{word.lang[langFrom.id]}}</span>
                                    <span class="word-obs">{{formatObs(word.obs[langFrom.id])}}</span>
                                </div>                                
                            </td>
                            <td width="20px" ng-click="Speak(word.lang[langLearn.id])">
                                <i class="fa fa-play"></i>
                            </td>
                        </tr>
                    </table>
                </div>
                <button class="btn effect-waves btn-practice" ng-click="practice(selectedAlbum.id,deck.id)">Practice</button>
                <div class="deck-warning" ng-show="deck.words.length < 10">This deck have less than 10 words</div>
            </div>
        </section>
    </div>
</div>
