<style type="text/css">
    .tab-1x { padding-left:30px; }
    table tr { transition-duration: .0s; }

    .word-pack {
        height:388px;
        overflow-y:scroll;
        background-color: #f5f5f5;
        border-radius: 5px;
    }
    .word-pack table tr {
        background-color:inherit;
    }
    .word-pack table tr:hover {
        background-color: #e5e5e5;
    }
    .scrollbar-card::-webkit-scrollbar-track
    {
	    border-radius: 10px;
    }

    .scrollbar-card::-webkit-scrollbar
    {
	    width: 10px;
	    background-color: #ececec;
    }

    .scrollbar-card::-webkit-scrollbar-thumb
    {
	    border-radius: 15px;
	    background-color: #ddd;
        transition: .5s;
    }
    .scrollbar-card:hover::-webkit-scrollbar-thumb
    {
	    background-color: #b7b7b7;
    }
    .selectWordGroup {
        font-size: 24px;
        font-weight: bold;
        color: #129880;
        width:auto;
        border-bottom:2px solid #129880;
    }
    page-footer {
        display:none
    }
</style>
<div class="container">
    <h1>Vocabulary</h1>
    <h2>
        <i class="fa" ng-class="selectedWordGroup.icon"></i>
        <select class="selectWordGroup" ng-model="selectedWordGroup" ng-options="wordGrup.name for wordGrup in wordGrups"></select>
    </h2> 
    <div class="col s12 m6 l4 x3" ng-repeat="wordSubGroup in selectedWordGroup.wordSubGroups">
        <section class="card">                
            <div class="card-container">
                <h3>{{wordSubGroup.name}}</h3>
                <div class="word-pack scrollbar-card">
                    <table>
                        <tr ng-repeat="word in wordSubGroup.words">
                            <td ng-class="{'bold':word.important}">{{word.word}}</td>
                            <td width="20px" ng-click="Speak(word.word)">
                                <i class="fa fa-play"></i>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
