<style type="text/css">
    .selectWordGroup {
        font-size: 15px;
        font-weight: bold;
        color: #129880;
        width: 100%;
        border-bottom: 2px solid #129880;
    }
    .selectLabel {
        color: #4f9888;
        position: absolute;
        top: -10px;
        left: 21px;
        font-size: 12px;
        font-weight: bold;
    }
    table tr { transition-duration: .0s; }

    .word-pack {
        height:388px;
        overflow-y:scroll;
        background-color: #f5f5f5;
        border-radius: 5px;
    }
    .word-pack table tr { background-color:inherit; }
    .word-pack table tr:hover { background-color: #e5e5e5; }

    .scrollbar-card::-webkit-scrollbar-track { border-radius: 10px; }
    .scrollbar-card::-webkit-scrollbar { width: 10px; background-color: #ececec; }

    .scrollbar-card::-webkit-scrollbar-thumb { border-radius: 15px; background-color: #ddd; transition: .5s; }
    .scrollbar-card:hover::-webkit-scrollbar-thumb { background-color: #b7b7b7; }

    page-footer { display:none }
    .wordTo { }
    .wordFrom { padding-top:3px; font-size:12px; color:#bbb; transition:.3s; filter: blur(2px); }
    .word:hover .wordFrom { color:#888; filter:unset; font-weight:bold}
    .word:hover .fa-play {
        box-shadow:0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
        transform: translateY(-1px);
        opacity:1;
    }
</style>

<div class="container">
    <h1 class="hide-on-keyboard-opened">Vocabulary</h1>
    <br class="clear hide-on-keyboard-opened" />
    <section class="hide-on-keyboard-opened">
        <div class="col s4 m4 l2">
            <span class="selectLabel">Album</span>
            <select class="selectWordGroup" ng-model="selectedWordGroup" ng-options="wordGrup.name for wordGrup in wordGrups" ng-change="nextWord()"></select>
        </div>
        <div class="col s4 m4 l2">
            <span class="selectLabel">Learning</span>
            <select class="selectWordGroup" ng-model="langTo" ng-options="language.name for language in languages" ng-change="nextWord()"></select>
        </div>
        <div class="col s4 m4 l2">
            <span class="selectLabel">From</span>
            <select class="selectWordGroup" ng-model="langFrom" ng-options="language.name for language in languages" ng-change="nextWord()"></select>
        </div>
    </section>
    <br class="clear hide-on-keyboard-opened" />
    <div class="margin-top-2em col s12 m12 l6 x4 xx3" ng-repeat="wordSubGroup in selectedWordGroup.wordSubGroups">
        <section class="card">
            <div class="card-container">
                <h3>{{wordSubGroup.name}}</h3>
                <div class="word-pack scrollbar-card">
                    <table>
                        <tr class="word" ng-repeat="word in wordSubGroup.words">
                            <td ng-class="{'bold':word.important}">
                                <div class="wordTo">{{word[langTo.id]}}</div>
                                <div class="wordFrom">{{word[langFrom.id]}}</div>
                            </td>
                            <td width="20px" ng-click="Speak(word[langTo.id])">
                                <i class="fa fa-play"></i>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
