<style type="text/css">
    .album-deck {
        font-size:11px;
        color:#888;
    }
    .wordTo .word {    
        color: #0d6b5a;
        font-weight: bold;
        font-size: 20px;
    }
    .wordFrom {
        color: #0d6b5a;
    }
    .word-obs { font-size:12px;color:#888 }
    .card-container { padding:12px 18px }
    .fa-play {position:absolute; top:13px; right:20px}
    .img-link {position:absolute; top:13px; right:65px}
    .fa-image {
        background-color: #26a69a;
        padding: 5px 10px;
        border-radius: 3px;
        text-shadow: 0px 1px 1px #0a5;
        box-shadow: 0px 1px 1px grey;
        color: #9af5dc;
        transition: .5s;
        cursor: pointer;
        opacity: 0.0;
    }
    .fa-play { opacity:0 }
    .card:hover .fa-image, .card:hover .fa-play {
        opacity:0.5; 
    }
    .fa-image:hover, .fa-play:hover {
        opacity:1 !important; 
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
        transform: translateY(-1px);
    }
    .fa-image:active, .fa-play:active {
        opacity:1 !important; 
        box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
        transform: translateY(2px);
    }
</style>

<div class="container">
    <h1 class="hide-on-mobile">Similar Words</h1>
    <div class="row" ng-repeat="similarWordGroup in similarWordsGroups">
        <h2>{{similarWordGroup.prefix}}</h2>
        <div class="col xx3 l4 m6 s12" ng-repeat="word in similarWordGroup.words">
            <div class="card">
                <div class="album-deck">
                    {{word.albumName}} - {{word.deckName}}
                </div>
                <div class="card-container">
                    <div class="wordTo">
                        <span class="word">{{word.lang[$root.langLearn.id]}}</span>
                        <span class="word-obs">{{formatObs(word.obs[langLearn.id])}}</span><!---->
                    </div>
                    <div class="wordFrom">
                        <span class="word">{{word.lang[langFrom.id]}}</span>
                        <span class="word-obs">{{formatObs(word.obs[langFrom.id])}}</span>
                    </div>
                </div>
                <i class="fa fa-play" ng-click="Speak(word.lang[langLearn.id],langLearn.id)"></i>        
                <a class="img-link" ng-href="{{'https://www.google.com/search?tbm=isch&q=' + word.lang[langLearn.id] + '+' + langLearn.countryRef }}" target="_blank">
                    <i class="fa fa-image"></i>
                </a>                    
            </div>
        </div>
    </div>
</div>
