<style class="text/css">
pre {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}
.string { color: green }
.number { color: darkorange }
.boolean { color: blue }
.null { color: magenta }
.key { color: red }
/*Filter styles*/
.saturate { filter: saturate(3); }
.grayscale { filter: grayscale(100%); }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(0.25); }
.blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.rss.opacity { filter: opacity(50%); }
</style>
<div class="card col s12">
    <div class="card-container row">
        <div class="col s12">
            <input ng-model="textToSpeak" type="text" />
            <label>Text To Speak</label>
        </div>
        <div class="row">
            <button class="btn effect-waves" type="button" ng-click="Speak(textToSpeak,2)">speak</button>
        </div>        
    </div>
</div>
https://ayundadamai.com/tag/cerita-anak-2/
<div class="card col s12">
    <div class="card-container row">
        <div class="col">
            <input ng-model="testxpto" type="text" />
            <label>Testxpto</label>
        </div>        
        <testcomp value="testxpto"></testcomp>
    </div>
</div>
<div>
    <button type="button" ng-click="testRequestOk()">Ok</button>
    <button type="button" ng-click="testRequestError()">Error</button>
    <button type="button" class="btn effect-waves">Testing <br />Waves</button>
</div>
<pre ng-bind-html="response|highlight|to_trusted"></pre>
<br class="clear" />
<div id="editor" style="height:100px;width:100%">
    function foo(items) {
    var x = "All this is syntax highlighted";
    return x;
    }
</div>
<br class="clear" />
<div class="container-short">
    <div class="card col l12 m12 s12 slide-down animate-duration-x3">
        <div class="card-container">
            <verbal-tenses></verbal-tenses>
        </div>
    </div>
</div>
<img alt="Mona Lisa" src="http://i.stack.imgur.com/OyP0g.jpg" title="original">
<img alt="Mona Lisa" src="http://i.stack.imgur.com/OyP0g.jpg" title="saturate" class="saturate">
<img alt="Mona Lisa" src="http://i.stack.imgur.com/OyP0g.jpg" title="grayscale" class="grayscale">
<img alt="Mona Lisa" src="http://i.stack.imgur.com/OyP0g.jpg" title="contrast" class="contrast">
<img alt="Mona Lisa" src="http://i.stack.imgur.com/OyP0g.jpg" title="brightness" class="brightness">
<img alt="Mona Lisa" src="http://i.stack.imgur.com/OyP0g.jpg" title="blur" class="blur">
<img alt="Mona Lisa" src="http://i.stack.imgur.com/OyP0g.jpg" title="invert" class="invert">
<img alt="Mona Lisa" src="http://i.stack.imgur.com/OyP0g.jpg" title="sepia" class="sepia">
<img alt="Mona Lisa" src="http://i.stack.imgur.com/OyP0g.jpg" title="huerotate" class="huerotate">
<img alt="Mona Lisa" src="http://i.stack.imgur.com/OyP0g.jpg" title="opacity" class="rss opacity">