body {
    margin: 0;
    font-family: Arial;
}

body>footer {
    position: fixed;
    bottom: 0;
    background-color: #222;
    color:#ccc;
    width: 100%;
    padding: 8px 20px 5px 20px;
    box-shadow: 1px 1px 4px;
    margin-left:250px;
    box-shadow: 0px -2px 6px #333;
    opacity:0.9;
    font-family: Segoe UI;
    font-size: 0.9em;
    animation: shadowBright 2s infinite alternate;
}

@keyframes shadowBright {
    from {
        text-shadow: 0px 0px 3px white;
    }
    to {
        text-shadow: 0px 0px 10px white;
    }
}

nav, main, footer {
    transition: margin-left .5s;
}

main>section {
    margin-left:20px;
}

main>footer{
    background-color:#222;
    padding:10px;
    color:#aaa;
    padding-bottom:30px;
    margin-top:10px;
    box-shadow: 0px -2px 3px #333;
}

main {
    margin-left:250px;
}

.battery-bar {
    color: white;
    font-size: 24px;
    position: absolute;
    right: 0;
    margin-right: 20px;
    margin-top: 10px;
}

.home-bar {
    font-size:24px;
}

/* top nav -------------------------------------------------*/
.topnav {
    overflow: hidden;
    background-color: #333;
    box-shadow: 1px 2px 4px;
    font-family: Segoe UI, Arial;
    margin-left:250px;
}
    .topnav button {
        font-family: Segoe UI, Arial;
        color:#CCC;
    }

    .topnav a {
        float: left;
        font-size: 16px;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        color:#CCC;
    }

        .topnav a:hover, .dropdown:hover, .dropdown:hover .dropbtn {
            background-color: #ddd;
            color: black;
            border-radius: 2px;
        }

        .topnav a.active {
            background-color: #2C80AF;
            color: white;
        }

.topnav-container {
    position:relative;
}


/* side nav -------------------------------------------------*/

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow:3px 0px 5px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidenav i {
        padding: 8px 8px 32px 32px;
        color: #818181;
        font-size:128px;
        text-shadow:0px 2px 5px white;
    }

        .sidenav a:hover, .offcanvas a:focus {
            color: #f1f1f1;            
            text-shadow: 0px 0px 15px white;
            
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 36px;
        margin-left: 50px;
    }

    .topnav-button-side {
        font-size:22px !important;
        cursor:pointer;
        display:none;
    }
    
@media only screen and (min-width: 1301px) {
    .sidenav {
        width:250px!important;
    }
    .sidenav .closebtn {
        display:none;
    }
}

@media only screen and (max-width: 1300px) {
    .topnav, footer
    {
        margin-left:0px;
    }
    main {
        margin-left:15px;
    }
    .sidenav {
        width:0px;
    }
    .topnav-button-side {
        display:block;
    }
}


/* icons -------------------------------------------------*/

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fa-round {
    border-radius: 50px;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    animation: focus-shadow-out .3s;
}

@keyframes focus-shadow {
    from {
        box-shadow: 0px 0px 0px;
        opacity: 1;
    }

    to {
        box-shadow: 2px 6px 6px 0px #888;
        opacity: 0.7;
    }
}

@keyframes focus-shadow-out {
    from {
        box-shadow: 2px 6px 6px 0px #888;
        opacity: 0.7;
    }

    to {
        box-shadow: 0px 0px 0px;
        opacity: 1;
    }
}



.fa-round:hover {
    opacity: 0.7;
    animation: focus-shadow .3s;
    box-shadow: 2px 6px 6px 0px #888;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}


.fa-skype {
    background: #00aff0;
    color: white;
}

.fa-github {
    background: #24292e;
    color: white;
}


