<style type="text/css"> 
    .table-tenses td { padding: 8px; color:#000 } 
    .td-rule {position:relative; cursor:pointer;}    
    .pop-rule {
        position:absolute;
        width:250px;
        padding:20px;
        top: 30px;
        left: -10px;
        background: #fff;
        border: 1px solid #ccc;
        border-color: rgba(0,0,0,.2);
        box-shadow: 10px 16px 20px rgba(0,0,0,.3);
        font-weight:normal;
        z-index:1002;
        display:none;
    }
    .pop-rule .gb_rb, .pop-rule .gb_qb {left:8px}
    .td-rule:hover .pop-rule {display:block}
</style>
<div class="col l6">
    <h2><i class="fa fa-table"></i> Grammar table</h2>
</div>
<div class="col l6" ng-hide="hideTenses">
    <select ng-model="selectedTense" ng-options="verbalTense.name for verbalTense in verbalTenses" ng-change="loadProcessedVerbs(selectedVerb,false)">
    </select>
</div>
<br class="clear" />
<div ng-hide="selectedTense.id == 0" class="lst col l6 m12" ng-click="lstOpen = !lstOpen" click-anywhere-but-here="lstOpen = false" is-active="lstOpen">
    <span>{{selectedVerb[$root.langFrom.id]}} <i class="fa fa-arrow-right"></i> {{selectedVerb[$root.langLearn.id]}} <i class="fa fa-chevron-down"></i></span>                
    <ul class="scrollbar-lst" ng-class="{'closed':!lstOpen}">
        <li ng-repeat="verb in verbs" ng-click="loadProcessedVerbs(verb,true, true)">{{verb[$root.langFrom.id]}} <i class="fa fa-arrow-right"></i> {{verb[$root.langLearn.id]}}</li>
    </ul>
</div>
<div class="col l3 m6">
    <input type="checkbox" id="negative" ng-model="negative" ng-change="loadProcessedVerbs(selectedVerb,false, true)" />
    <label for="negative">
        <span class="ball"></span>
        <span class="text">Negative</span>
    </label>
</div>
<div class="col l3 m6">
    <input type="checkbox" id="interrogative" ng-model="interrogative" ng-change="loadProcessedVerbs(selectedVerb,false, true)" /> 
    <label for="interrogative">
        <span class="ball"></span>
        <span class="text">Interrogative</span>
    </label>
</div>
<br class="clear" />
<table class="table-tenses margin-top-2em">
    <tbody>
        <tr class="hide-on-mobile">
            <th><span>{{$root.langFrom.name}}</span></th>
            <th>{{$root.langLearn.name}}</th>
            <th width="5px"></th>
        </tr>
        <tr ng-repeat="verb in engineVerbs">
            <td>
                <span class="cursor-pointer hide-on-mobile" ng-click="$root.Speak(verb.subjectFrom, $root.langFrom.id)">{{verb.subjectFrom}}</span>
                <span ng-repeat="tag in verb.tags">
                    <span class="textmark autoresize" ng-class="{'{{tag}}':true}">{{tag}}</span><br class="show-only-on-mobile" />
                </span>
            </td>
            <td>
                <span ng-class="{'{{verb.tagSubjectToAuxBefore}}':true}">{{verb.subjectToAuxBefore}}</span>
                {{verb.subjectTo}}
                <span ng-class="{'{{verb.tagSubjectToAuxAfter}}':true}">{{verb.subjectToAuxAfter}}</span>
                <span ng-class="{'{{verb.verbTo.tagPrefix}}':true}">{{verb.verbTo.prefix.toLowerCase()}}</span><span class="td-rule" ng-class="{'{{verb.verbTo.tagSufix}}':true}">{{verb.verbTo.sufix}}
                    <div class="card pop-rule grow-down-left">
                        <div class="gb_rb"></div>
                        <div class="gb_qb"></div>
                        {{verb.ruleMsg}}
                    </div>
                </span>
                {{verb.verbTo.after}} 
            </td>
            <td ng-click="$root.Speak(verb.subjectToAuxBefore + ' ' + verb.subjectTo + ' ' + verb.subjectToAuxAfter + ' ' + verb.verbTo.prefix + verb.verbTo.sufix + verb.verbTo.after, $root.langLearn.id)">
                <i class="fa fa-play"></i>
            </td>
        </tr>
    </tbody>
</table>