<style type="text/css">
    page-header {    
        position:fixed;
        top: 0px;
        left: 0px;
        height: 60px;
        width:100%;
        z-index:1000;
        line-height: 60px;
        padding: 0px 20px;
        box-sizing: border-box;
        color:#eee;
        font-weight:bold;
        font-size:24px;
        background-color: #1c1c1c;
        box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
    }
    
    page-header>span {
        font-weight: normal;
        font-size:24px;
        color: #00ffae;
        cursor: pointer;
    }

    @media only screen and (max-width:599px) {
        page-header {
            height: 56px;
            line-height: 56px;
        }

        page-header>span {
            margin-left:35px;
        }

        .topnav-right{
            top:7px;
        }

        .below-top-nav {
            top:56px;
        }
    }

    .topnav-right {
        font-size: 14px;
        font-weight: normal;
        position: absolute;
        top: 10px;
        right: 10px;
        line-height: 18px;
    }


    .topnav-button-menu {
        line-height: 32px;
        position: absolute;
        top: 12px;
        left: 10px;
            font-size:22px !important;
            cursor:pointer;
            color: #CCC;
            text-decoration:none;
            padding: 0px 6px;
    }

        .topnav-button-menu:hover {
            background-color: #ddd;
            color: black;
            border-radius: 2px;
        }

    .top-nav-item {
        display: inline-block;
        position:relative;
        padding:0px 2px;
    }

        .top-nav-item i {
            margin-top:-3px;
            font-size:35px;
            text-shadow: 0px 1px 1px #aaa;
        }

    .top-nav-separator {
        display:inline-block;
        width:20px;
    }

    
    .pop-mob-user {
        position:absolute;
        width:280px;
        padding:20px;
        top: 40px;
        right: 0px;
        box-shadow: 0 2px 10px rgba(0,0,0,.75);
        background: #fff;
        border: 1px solid #ccc;
        border-color: rgba(0,0,0,.2);
        z-index:1002;
    }

    .pop-mob-user>article {
        font-size: 13px;
        line-height: 20px;
        color: #333;
        padding-bottom: 10px;
    }

    .pop-mob-user>article>p {
        font-size: 100px;
        text-align: center;
        margin: 10px;
        margin-bottom: 20px;
    }


    .pop-mob-server {
        position:absolute;
        width:280px;
        padding:20px;
        top: 40px;
        right: 0px;
        box-shadow: 0 2px 10px rgba(0,0,0,.75);
        background: #fff;
        border: 1px solid #ccc;
        border-color: rgba(0,0,0,.2);
        padding-bottom: 10px;
        z-index:1002;
    }

    .pop-mob-server>article {
        font-size: 13px;
        line-height: 20px;
        color: #333;
        padding-bottom: 10px;
    }

    @media only screen and (max-width:599px) {
        .top-nav-item i {
            font-size: 32px;
            line-height: 28px;
            padding: 0px 3px;
        }

        .top-nav-item {
            padding:0px;
        }
        
        .topnav-right {
            right:5px;
            top: 16px;
        }
        
        .topnav-button-menu {
            display:block;
        }
    }
    
</style>
<div class="topnav-button-menu show-only-on-mobile">
    <a ng-click="$root.toggleSivenav()">&#9776;</a>
</div>
<span ng-click="$root.home()">INGES <span class="hide-on-mobile">| Languages</span></span>
<div class="topnav-right">
    <div class="top-nav-item">
        <i class="fa" ng-class="{'fa-microphone':!$root.mute, 'fa-microphone-slash':$root.mute}" ng-click="$root.toggleMute()"></i>
    </div>
    <div class="top-nav-separator hide-on-mobile">
        &nbsp;
    </div>
    <div class="top-nav-item hide-on-mobile">
        <div ng-hide="$root.account.authenticated == true">
            <div>You aren't authenticated</div>
            <div>
                <a class="text-bold text-white nounderline hover-shiny" href="#!Account/SignIn">Sign In</a>
                <span class="text-gray">or</span>
                <a class="text-bold text-white nounderline hover-shiny" href="#!Account/SignUp">Sign Up</a>
            </div>
        </div>
        <div ng-show="$root.account.authenticated == true">
            <div>{{ $root.account.email }}</div>
            <div class="right">
                <a class="text-bold text-white nounderline hover-shiny" href="#!Account">Manage</a>
                <span class="text-gray">|</span>
                <a class="text-bold text-white nounderline hover-shiny" href="#!Account/SignOut">Sign Out</a>
            </div>
        </div>
    </div>
    <div class="top-nav-item">
        <i class="fa fa-user-circle" ng-click="$root.toggleShowMobUser()"></i>
        <div class="popup-mob" ng-show="$root.showMobUser" ng-click="$root.toggleShowMobUser()">
        </div>
        <div class="card pop-mob-user grow-down" ng-show="$root.showMobUser">
                <div class="gb_rb"></div>
                <div class="gb_qb"></div>
                <article>
                    You aren't authenticated, you may sign up in order to:
                    <ul>
                        <li>Get full features access</li>
                        <li>Record your progress</li>
                    </ul>
                </article>
                <a class="btn effect-waves" href="#!Account/SignIn">Sign In</a>
                <a class="btn effect-waves" href="#!Account/SignUp">Sign Up</a>
            </div>
    </div>
    <div class="top-nav-separator hide-on-mobile">
        &nbsp;
    </div>
    <div class="top-nav-item hide-on-mobile">
        <div ng-show="$root.server.Online">
            <div>{{$root.server.Address}}</div>
            <div class="text-gray">
                <a class="text-bold text-white nounderline hover-shiny" href="#!Construction">Server</a>
                <span>| {{$root.server.Latency}} ms</span>
            </div>
        </div>
        <div ng-show="!$root.server.Online">
            <div class="bold text-red">Backend off-line or unacessible</div>
            <div class="text-gray">
                <a class="text-bold text-white nounderline hover-shiny" href="#!Construction">Reconnect</a>
            </div>
        </div>
    </div>
    <div class="top-nav-item">
        <i class="fa fa-globe fa-spin" ng-click="$root.toggleShowMobServer()"></i>
        <div class="popup-mob" ng-show="$root.showMobServer" ng-click="$root.toggleShowMobServer()">
        </div>
        <div class="card pop-mob-server grow-down" ng-show="$root.showMobServer">
                <div class="gb_rb"></div>
                <div class="gb_qb"></div>
                <article>
                    <div ng-show="$root.server.Online">
                        <div>Server Address: {{$root.server.Address}}</div>
                        <div>
                            <a class="softlink bold" href="#!Construction">Server</a>
                            <span>| Latency {{$root.server.Latency}} ms</span>
                        </div>
                    </div>
                    <div ng-show="!$root.server.Online">
                        <div class="bold text-red">Backend off-line or unacessible</div>
                        <div class="text-gray">
                            <a class="text-bold nounderline hover-shiny" href="#!Construction">Reconnect</a>
                        </div>
                    </div>
                </article>
                <div class="center">
                    <button type="button" class="btn effect-waves" ng-click="$root.toggleShowMobServer()">Close It</button>
                </div>
            </div>
    </div>
</div> 