<style type="text/css">
    
    .sidenav {
        height: 100%;
        width: 250px;
        position: fixed;
        z-index: 2;
        top:0;
        left: 0;
        background-color: #222;
        transition: 0.5s;
        box-shadow:2px 0px 3px rgba(0,0,0,.5);
        overflow-x: hidden;
        will-change: transform;
    }

    .sidenav.open { transform: translateX(0px); }

    .sidenav-bg
    {
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
        height:100%;
        width:100%;
        position:fixed;
        top:0px;
        left:0px;
        z-index: 1;
    } 

    .sidenav-content {
        overflow-x: hidden;
        overflow-y:scroll;
        height:100%; 
        height: calc(100% - 72px);
    }

    .sidenav-top-margin { height:72px }
    .sidenav>article { width:250px; }

    .sidenav .groups a {
        padding: 4px 8px 4px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #adadad;
        display: block;
    }

    .sidenav .groups a:hover { background-color:#333; }
    .sidenav .groups .small { font-size:16px; }
    .sidenav .groups a i { width:40px; }
    .sidenav .groups { padding-bottom:30px; }

    .sidenav h1 {
        text-align:center;
        width:100%;
        margin-top:10px;
        margin-bottom:2px;
        color: white;
        font-weight: normal;
        font-size: 1.5em;
    }

    .sidenav hr {
        border-top: 1px solid #555;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #222;
        width: 80%;
        margin: auto;
        margin-top:35px;
        margin-bottom:25px;
    }

    .sidenav a.active { color: #7dffd6; border-left: 3px solid #7dffd6; }

    
    .sidenav .social a {
        display:block;
        padding:15px;
        margin:15px;
        margin-left:25px;
    }
        
    .sidenav .closebtn {
        color: #818181;
        position: absolute;
        top: 60px;
        left: 165px;
        font-size: 36px;
        margin-left: 50px;
        text-decoration:none;
    }
    
    .menu-group h1 {
        font-weight: normal;
        font-size: 18px;
        color: #00ffae;
        text-align: left;
        padding: 10px 0px 3px 20px;
        text-transform: uppercase;
        text-shadow:none;
        position:relative;
        cursor:pointer;
    }

    .menu-group h1 i {
        color: #009868;
        font-size: 14px;
        padding-left: 3px;
        position: absolute;
        top: 12px;
        right: 30px;
        cursor:pointer;
    }

    .menu-group h1:hover i {
        color: #00ffae;
        font-size: 14px;
        padding-left: 3px;
        position: absolute;
        top: 12px;
        right: 30px;
    }
    
    .itens { overflow:hidden}
    .menu-group.closed .itens { display: none; }
    .menu-group .fa-chevron-up { transition:.5s; }
    .menu-group .fa-chevron-up.closed { transform:rotateX(180deg); }
    
    @media only screen and (max-width: 599px) {
        .sidenav { width:250px!important; }
        .sidenav .closebtn { display:none; }
        .sidenav { transform: translateX(-250px); }
        /*performance trick*/
        .sidenav { box-shadow:none;  }
    }


</style>
<aside id="mySidenav" ng-class="{ 'sidenav' : true, 'open' : $root.sidenavOpen }">
    <article class="sidenav-top-margin"></article>
    <article class="sidenav-content scrollbar-gray">
        <section class="groups">
            <section ng-init="menuClosed1 = false" ng-class="{ 'menu-group' : true, 'closed' : menuClosed1 }">
                <h1 ng-click="menuClosed1 = !menuClosed1">General 
                    <i class="fa fa-chevron-up" ng-class="{'closed':menuClosed1}"></i>
                </h1>
                <div class="itens fade-in-slide-down">
                    <a href="#!General/Home" ng-class="{'small':true, 'effect-waves':true, 'waves-aqua':true, 'active': $root.currentRoute.name==='Home' || $root.currentRoute.name==null}"><i class="fa fa-home"></i>Home</a>
                    <a href="#!General/About" ng-class="{'small':true, 'effect-waves':true, 'waves-aqua':true, 'active': $root.currentRoute.name==='About'}"><i class="fa fa-address-card"></i>About</a>
                </div>
            </section>
            <section ng-init="menuClosed2 = false" ng-class="{ 'menu-group' : true, 'closed' : menuClosed2 }">
                <h1 ng-click="menuClosed2 = !menuClosed2">Lessons 
                    <i class="fa fa-chevron-up" ng-class="{'closed':menuClosed2}"></i>
                </h1>
                <div class="itens fade-in-slide-down">
                    <a href="#!Lessons/ToBeVerb" ng-class="{'small':true, 'effect-waves':true, 'waves-aqua':true, 'active': $root.currentRoute.name==='To Be Verb'}"><i class="fa fa-book"></i>To Be Verb</a>
                    <a href="#!Lessons/SimplePresent" ng-class="{'small':true, 'effect-waves':true, 'waves-aqua':true, 'active': $root.currentRoute.name==='Simple Present'}"><i class="fa fa-book"></i>Simple Present</a>
                    <a href="#!Lessons/PresentContinuous" ng-class="{'small':true, 'effect-waves':true, 'waves-aqua':true, 'active': $root.currentRoute.name==='Present Continuous'}"><i class="fa fa-book"></i>Present Continuous</a>
                    <a href="#!Lessons/SimplePast" ng-class="{'small':true, 'effect-waves':true, 'waves-aqua':true, 'active': $root.currentRoute.name==='Simple Past'}"><i class="fa fa-book"></i>Simple Past</a>
                    <a href="#!Lessons/PastContinuous" ng-class="{'small':true, 'effect-waves':true, 'waves-aqua':true, 'active': $root.currentRoute.name==='Past Continuous'}"><i class="fa fa-book"></i>Past Continuous</a>
                    <a href="#!Lessons/SimpleFuture" ng-class="{'small':true, 'effect-waves':true, 'waves-aqua':true, 'active': $root.currentRoute.name==='Simple Future'}"><i class="fa fa-book"></i>Simple Future</a>
                    <a href="#!Lessons/TensesComparison" ng-class="{'small':true, 'effect-waves':true, 'waves-aqua':true, 'active': $root.currentRoute.name==='Tenses Comparison'}"><i class="fa fa-book"></i>Tenses Comparison</a>
                    <a href="#!Lessons/Vocabulary" ng-class="{'small':true, 'effect-waves':true, 'waves-aqua':true, 'active': $root.currentRoute.name==='Vocabulary'}"><i class="fa fa-edit"></i>Vocabulary</a>
                </div>
            </section>
            <section ng-init="menuClosed3 = false" ng-class="{ 'menu-group' : true, 'closed' : menuClosed3 }">
                <h1 ng-click="menuClosed3 = !menuClosed3">
                    Exercises
                    <i class="fa fa-chevron-up" ng-class="{'closed':menuClosed3}"></i>
                </h1>
                <div class="itens fade-in-slide-down">
                    <a href="#!PrototypeExercises" ng-class="{'small':true, 'effect-waves':true, 'waves-aqua':true, 'active': $root.currentRoute.name==='Prototype Exercises'}"><i class="fa fa-edit"></i>Prototype Exercises</a>
                    <a href="#!Exercises/Flashcards" ng-class="{'small':true, 'effect-waves':true, 'waves-aqua':true, 'active': $root.currentRoute.name==='Flashcards'}"><i class="fa fa-edit"></i>Flashcards</a>
                </div>
            </section>
            <section ng-init="menuClosed4 = false" ng-class="{ 'menu-group' : true, 'closed' : menuClosed4 }">
                <h1 ng-click="menuClosed4 = !menuClosed4">
                    Community
                    <i class="fa fa-chevron-up" ng-class="{'closed':menuClosed4}"></i>
                </h1>
                <div class="itens fade-in-slide-down">
                    <a href="#!Construction" ng-class="{'small':true, 'effect-waves':true, 'waves-aqua':true, 'active': $root.currentRoute.name==='Forum'}"><i class="fa fa-wpforms"></i>Forum</a>
                    <a href="#!Construction" ng-class="{'small':true, 'effect-waves':true, 'waves-aqua':true, 'active': $root.currentRoute.name==='Chat'}"><i class="fa fa-comments"></i>Chat</a>
                    <a href="#!Construction" ng-class="{'small':true, 'effect-waves':true, 'waves-aqua':true, 'active': $root.currentRoute.name==='People'}"><i class="fa fa-users"></i>People</a>
                </div>
            </section>
        </section>
    </article>
</aside>
<section class="sidenav-bg show-only-on-mobile" ng-show="$root.sidenavOpen" ng-click="$root.toggleSivenav()"></section>