h1, h2 {
    color:#333;
    /*text-shadow: 0px 1px 1px #aaa;*/
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Modal -------------------------------------------------*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    padding: 2px;
    background-color: white;
    border-radius: 12px;
}

.modal-icon {
    position:absolute;
    right:0px;
    top:0px;
    padding: 10px 20px 0px 0px;
    font-size:128px;
    color:#520000;
    text-shadow: 1px 1px 5px #555;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

/* The Close Button */
.modal-close {
    color: white;
    float: right;
    font-size: 26px;
    font-weight: bold;
    margin-top:-3px;
}

    .modal-close:hover,
    .modal-close:focus {
        text-shadow: 2px 2px 14px rgb(22, 22, 22);
        text-decoration: none;
        cursor: pointer;
        color:#ddd;
    }

.modal-header {
    padding: 2px 8px;
    color: white;
    font-size:20px;
    text-shadow: 1px 1px 5px rgb(56, 56, 56);
    padding:10px;
    border-radius:10px;
    background: #779faf; /* Old browsers */
    background: -moz-linear-gradient(top, #779faf 0%, #4373aa 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #779faf 0%,#4373aa 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #779faf 0%,#4373aa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#779faf', endColorstr='#4373aa',GradientType=0 ); /* IE6-9 */
    
}

.modal-body {
    position:relative;
    padding: 2px 16px;
    background-color: #fefefe;
    min-height:150px;
}

.modal-button {
    cursor:pointer;
    min-width: 60px;
    border-radius: 4px;
    border: 1px solid #777;
    padding: 4px;    
    background: #f2f6f8; /* Old browsers */
    background: -moz-linear-gradient(top,  #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */
}

.modal-button:hover {
    box-shadow:1px 1px 6px #777;
}

.modal-footer {
    padding: 10px 10px 10px 0px;
    background-color: #fefefe;
    border-top:1px lightgray solid;
    color: white;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    text-align:right;
    margin:0px 5px 0px 5px;
}

@media only screen and (min-width: 900px) {
    .modal-content {
        width:450px;
    }

}

@media only screen and (min-width: 600px) and (max-width:899px) {
    .modal-content {
        width:70%;
    }

}

@media only screen and (max-width:599px) {
    .modal-content {
        width:95%;
    }

}

/* Tooltip -------------------------------------------------*/

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity .6s;
    }

        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
    


/* Chip -------------------------------------------------*/

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

    .chip img {
        float: left;
        margin: 0 10px 0 -25px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }

    .chip i {
        float: left;
        font-size: 32px;
        margin: 10px 0px 0px -15px;
        border-radius: 50%;
        background-color: #24292e;
        color: white;
    }
    

/* Table -------------------------------------------------*/


table {
    padding:5px;
    border-spacing: 0px;
    width:100%;
    color:#333;
}
    table th, table td {
        padding:10px 10px 10px 10px;
        margin:0px;
        text-align:left;
    }
    
    table th {
        border-bottom: 1px solid #ccc;
        padding-bottom:5px;
    }
    
    table tr:nth-child(0n+2) {
        /*border-top-left-radius:0px;
        border-top-right-radius:0px;*/
    }

    table td:first-child {
        border-top-left-radius:5px;
        border-bottom-left-radius:5px;
    }

    table td:last-child {
        border-top-right-radius:5px;
        border-bottom-right-radius:5px;
    }
    
    table tr {
        transition: background-color .3s linear;
    }
    
    table tr.selected td, td.selected {
        background-color: #333;
        color:white;
    }

    table tr:nth-child(2n+2) {
        background-color:#eee;
    }
    
    table tr:nth-child(2n+3) {
        /*background-color:white;*/
    }
    
    table tr:nth-child(2n+2):hover, table tr:nth-child(2n+3):hover {
        background-color:#e5e5e5;
    }


.table-edit tr td:last-child {
    width:20px;
    text-align:right;
}


.table-edit tr td:last-child i {
    cursor:pointer;
}


/* cards -------------------------------------------------*/


.card {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 5px;
    transition: 0.2s all;
    float:left;
    margin-top:5px;
    margin-bottom:20px;
    padding:5px;
    background-color:white;
}

.card.noborder {
    box-shadow: none;
    border-radius: unset;
    transition: none;
}

.card.noborder:hover {
    box-shadow: none;
    border-radius: unset;
    transition: none;
}

.clear {
    clear:both;
}

/*@media only screen and (min-width: 900px) {
    .card.small {
        min-width:20%;
    }

    .card.medium {
        min-width:25%;
    }

    .card.big {
        min-width:30%;
    }
}

@media only screen and (min-width: 600px) and (max-width:899px) {
    .card.small {
        min-width:25%;
    }

    .card.medium {
        min-width:33%;
    }

    .card.big {
        min-width:45%;
    }
}

@media only screen and (max-width:599px) {
    .card.small {
        min-width:40%;
        margin-left:2%;
        margin-right:2%;
    }

    .card.medium {
        min-width:95%;
        margin-left:1%;
        margin-right:1%;
    }

    .card.big {
        min-width:95%;
        margin-left:1%;
        margin-right:1%;
    }
}*/



/*.card.small:hover {
    width:255px;
}

.card.medium:hover {
    width:335px;
}

.card.big:hover {
    width:455px;
}*/


.card:hover {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    /*box-shadow: -1px 8px 14px 0 rgba(20,20,20,0.4);
    margin-top:0px;
    margin-bottom:25px;
    margin-left:21px;
    margin-right:19px;*/
}

.card img, .card-img {
    width:100%;
    border-radius:5px;
    transition: 0.5s;
}

.card-message {
    margin-bottom:5px;
}

.card-subtitle {
    margin-top:5px;
    font-size:0.9em;
    color:#333;
}


.card-subtitle a {
    color:#af0000;
    text-decoration:none;
}

.card-subtitle a:hover {
    text-decoration:underline;
}

.card-subtitle img {
    border-radius:0px;
    box-shadow: 0px 1px 3px #555;
    width:22px;
    height:15px;
    margin-bottom:-2px;
}



.card img:hover {
    transform:scale(1.1);
}

.img-holder {
    overflow:hidden;
    border-radius:5px;
}

.card-container {
    padding: 2px 22px;
}
@media only screen and (max-width:650px) {
    .card-container {
        padding: 2px 2px !important;
    }
}


.card-sub-container {
    padding: 2px 22px;
}

.card-container h3, .card-container h2, .card-container h1, .card-container h4, .card-container h5 {
    color: #333;
}

.bold {
    font-weight:bold;
}